[2016-01-20 21:32] marcodejongh opened #9 "Type assertion"
Currently there is no way of asserting that a certain wrapper is a of a certain type.
So when asserting on type I have to resort to doing this:

[code]

Ideally I would think the assertion should look like this:

[code]

OR

[code]

Any thoughts? I will try to implement this tomorrow, taking any opinions voiced in this issue into consideration.

[2016-01-20 21:36] marcodejongh opened #10 "have.prop checks on reference not equality"
have.prop should check on object equality not reference equality.

When using immutable it becomes next to impossible to use reference equality because the object where it was set will be different where it is used.

[2016-01-20 23:58] marcodejongh opened #11 "to.have.attr passes when given a undefined object"
The following assertion passes:

[code]

It also passes on ```to.have.prop```

[2016-01-21 00:26] ayrton commented on #11
This certainly feels like unexpected results, both assertions actually pass:

[code]

[2016-01-21 00:29] marcodejongh opened #12 "Assertions on result of wrapper.get"
Assertions of result of get are currently not possible

[code]

Should work the same as

[code]

[2016-01-21 00:30] marcodejongh commented on #11
Yes this is a particulary nasty bug, I've found that I had a lot of cases passing even tho they should feel.
Because I passed in ```wrapper.children().get(1)``` instead of ```wrapper.children().at(1)```.
The assertion only seems to work correctly if you expect on a enzyme wrapper

[2016-01-21 00:35] marcodejongh opened #13 "Assertion tagName tries to shallowrender the given component"
When using the following assertion:

[code]

I get a error because on of the props of the child of the wrapper at 1 is undefined.

If I remove the tagName assertion and just leave this one:

[code]

The error is gone. So there is a discrepancy between how ```to.have.prop``` and ```to.have.tagName``` do their assertions.

[2016-01-21 01:38] ljharb commented on #11
At the very least, an enzyme expectation should always fail if the "actual" is not a non-array non-function object.

[2016-01-21 01:38] ljharb commented on #12
`.get` returns a raw node. How would chai-enzyme differentiate between a raw node, an enzyme wrapper, and any other kind of object?

[2016-01-21 01:39] ljharb commented on #10
when using immutable, it seems like using immutable's comparison functions are always the right way to go about it.

[2016-01-21 01:39] ljharb commented on #9
`to.have.type` seems simplest to me. This seems like a reasonable addition.

[2016-01-21 01:43] marcodejongh commented on #12
@ljharb Based on the structure you can determine that it is a raw node but we might just want to have it thrown an error if you pass something other then a wrapper to the expect.

The only reason I need ```.get``` instead of ```.at``` is because the ```tagName``` appears to be broken #13

[2016-01-21 01:43] ljharb commented on #12
I think that #13 needs fixing, and that definitely an enzyme matcher should throw if anything but an enzyme wrapper is passed as the "actual".

[2016-01-21 01:45] marcodejongh commented on #10
@ljharb Well not necessarily you could be passing the ```.get``` value of your immutable store to a child component, in which case you want to be able to assert on object equality and not reference equality.

You won't be able to use immutable comparisons because the ```.get``` would return a raw object

[2016-01-21 01:46] marcodejongh commented on #9
@ljharb I'll turn that in to a seperate story and close this one

[2016-01-21 01:47] marcodejongh commented on #12
Yes I agree and that should be the fix for #11

[2016-01-21 01:48] #12 closed

[2016-01-21 01:49] marcodejongh commented on #11
Ok to summarise: the proposed fix will be to have all the chai-enzyme wrappers throw an error if the "actual" is not a enzyme warpper

[2016-01-21 02:30] ljharb commented on #10
ah, gotcha.

there's `deepEqual`, or the `is-equal` module - would those work?

[2016-01-21 02:50] marcodejongh commented on #10
Yes that would work, but It's probably also possible to just use the deep equal built into chai (```to.eql``` or ```to.deep.equal```)

This would be for the whole generic assertion https://github.com/producthunt/chai-enzyme/blob/master/src/assertions/generic.js#L6

So it would affect all the assertions here:
https://github.com/producthunt/chai-enzyme/blob/master/src/index.js#L74-L78

[2016-01-21 06:32] ljharb commented on #10
We should be able to make `.to.have.deep.prop` work?

[2016-01-21 07:56] vesln commented on #9
both syntaxes should be doable if u add a `type` assertion, pr very welcome

[2016-01-21 07:59] vesln commented on #11
yeah... that's a bit problematic. the thing is... we use `overwrite*` in order to play nice with other chai.js plugins that may have the same syntax (such as chai-jquery for example).

to me this seems more or less like a chai.js issue, rather than chai-enzyme. @keithamus do you have any thoughts on this?

[2016-01-21 08:02] vesln commented on #13
@marcodejongh that's sadly correct.

for various reasons, we had to implement it this way initially and we decided to release with it (it's not a 1.0 release, so didn't bother me too much).

we should fix this as soon as we can. if you would like to submit a pr it will be very welcome!

[2016-01-21 08:03] vesln commented on #10
agree, we can easily implement `to.have.deep.prop`

[2016-01-21 08:06] vesln commented on #10
https://github.com/chaijs/chai/blob/master/lib/chai/core/assertions.js#L518-L528

https://github.com/chaijs/chai/blob/master/lib/chai/core/assertions.js#L484

[2016-01-21 08:18] vesln commented on #11
/cc @logicalparadox

[2016-01-21 08:23] marcodejongh commented on #13
Could you make sure that you assign issues that you're picking up? I have 20% time tomorrow so I intend to fix all issues raised by me. I went ahead with making these issues to get some discussion going about them

[2016-01-21 09:04] vesln commented on #13
@marcodejongh i just added you as a collaborator to the project. me and the rest of the team are super thankful to all people who are willing to contribute to our projects, so this is our way to say "thank you".

feel free to assign yourself to whatever you would like to tackle. i'd personally love another person start digging inside the project, as i'm sure that you'll be able to find more issues

[2016-01-21 11:45] keithamus commented on #11
Hey @vesln thanks for bringing me in on this.

**TL;DR**: This will be "fixed" in version 4.0.0 of chai, but you shouldn't use overwriteMethod unless the method actually exists. (Which, I know, is a pain).

---

This is kind of a chai bug, and kind of a bug with this lib. For context read https://github.com/chaijs/chai/issues/467, but it boils down to:

1. Calling overwriteMethod gives you the `su

[2016-01-21 11:49] vesln commented on #11
@keithamus thanks a ton!

in this case, @marcodejongh, i'd suggest to change the `overwrite*` methods where possible (eg. won't be doable for `contain`) and throw if the passed objects are not an enzyme wrapper

[2016-01-21 11:56] keithamus commented on #11
You can check to see if a method exists by looking at `chai.Assertion.prototype.*`. This will let you programatically determine whether you should use `overwriteMethod` or `addMethod`. Of course, it depends largely on the plugins you've loaded as to whether you call overwrite or add.

[2016-01-21 22:38] robwise opened #14 "some/any, every, none assertions"
I'm having trouble with handling cases involving multiple nodes. My team generally doesn't like to change the source code purely for the sake of the tests, so we can't really use `find` on an `id` since usually we wouldn't otherwise need an `id`. Therefore our tests look like this:

[code]
This works, but a failing test gives us something like "expected false to be true." We could use the enzyme h

[2016-01-21 23:10] ljharb commented on #14
Any reason `expect(actual).toHaveNodeWithAttr('href', adminPath)` and `expect(actual).not.toHaveNodeWithAttr('href', adminPath)` couldn't work by adding a single invertable assertion to chai-enzyme? (altho `toHaveNodeWithProp` might make more sense)

[2016-01-22 00:53] marcodejongh commented on #14
You could write a assertion with ```descendants``` because it accepts a [enzyme selector](https://github.com/airbnb/enzyme/blob/master/docs/api/selector.md). I think the following would work:

[code]

Besides that, if you want to do any kind of sane UI testing with Selenium you're gonna be adding those same id's & classes that would have made this unit tests easier to write. In the end the team sh

[2016-01-22 01:59] robwise commented on #14
@ljharb That seems like a good way to go as well!

@marcodejongh Whoa, this is definitely useful. I didn't think of writing it that way. Thanks! And if you and your team see no reason not to use `id`s to make tests easier to write, maybe I should get my team to re-think our policy. I can definitely see how much easier these tests would be if we could just do `find('#someId')`.

[2016-01-22 02:25] marcodejongh commented on #14
@robwise I think something along the lines of Iljharb's proposal would work. But it's only delaying the inevitable, unless you're absolutely sure you never want to UI test.

[2016-01-23 11:08] alexfedoseev commented on #14
My only issue with `id`s is that we're going back to the problem which was just solved by CSS Modules: you need to think about uniqueness of `id`s.

1. It's not a problem in context of component-oriented js unit testing, but it's not standard compliant in context of `document` (ok, I'm a bit pedantic here, but there is # 2).
2. If you're using it in unit testing, you'll be using it in integration

[2016-01-24 16:05] jbinto opened #16 "How to get it working in Karma?"
On https://github.com/mxstbr/react-boilerplate/issues/79#issuecomment-174238581 (see link for more info) we are trying to convert from mocha/jsdom to Karma/Chrome.

I tried to create a Karma plugin for `chai-enzyme` (a naive copy paste based on another `karma-chai-foobar`) but I'm having trouble with the fact that `chai-enzyme` is published as an ES6 module, [and Karma doesn't understand that](htt

[2016-01-25 07:31] vesln commented on #16
@jbinto thanks for your work!

chai-enzyme is transpiled to es2015 with babel, so this shouldn't be the issue.

i believe it's the fact that we are trying to run commonjs code in a browser environment without any preparation. both mocha and chai come with a browser bundle see https://github.com/xdissent/karma-chai/blob/master/index.js#L9

i believe we can use webpack to accomplish it see https://w

[2016-01-25 19:41] ljharb commented on #16
(You can also use browserify)

[2016-01-26 02:03] marr commented on #16
I am having trouble getting this working with browserify and tape. Unrelated to karma but it seems appropriate:
[code]
Here is a repo I am working on: https://github.com/marr/my-boilerplate

[2016-01-26 17:20] marr commented on #16
FWIW, I did get this working in browser with tape, https://github.com/airbnb/enzyme/issues/132#issuecomment-174800141

[2016-01-26 17:22] vesln commented on #16
good to know, thanks!

[2016-01-27 15:07] ayrton opened #17 "Components returning null with different results for render and shallow"
I came across an interesting inconsistency, let me demonstrate this with some code, here's a simplified version of my `ContentToggle` component:

[code]

Important to note is that I either need to pass on `content` or `options` as props or otherwise it will return `null`.

My initial tests I wrote:

[code]

The first two tests passed, but the third one did not:

[code]

When I change the 3rd test

[2016-01-28 18:59] IanVS opened #18 "`Contain` assertion passes when given non-node"
It seems that the `contain` assertion does not check for the correct type of argument.  For example, this will pass:

[code]

And:

[code]

will fail with:

[code]

[2016-01-28 19:05] IanVS commented on #18
Hm, it actually seems this could be an upstream issue, since enzyme itself is exhibiting the same behavior.

[2016-01-28 19:13] IanVS commented on #18
https://github.com/airbnb/enzyme/issues/145 submitted to Enzyme.

[2016-01-28 19:13] #18 closed

[2016-01-29 02:52] marcodejongh commented on #10
@vesln This actually doesn't need something extra added as I can just use:

[code]

So I guess this can be closed as "won't fix"

[2016-01-29 02:52] #10 closed

[2016-01-29 10:14] ayrton commented on #16
@jbinto is it possible you can get it working by requiring like this:

[code]

This is something we will have to address soon, let me know if that fixes it for you if so I'll make some time to get this working out of the box. For future me see [`babel-plugin-add-module-exports`](https://www.npmjs.com/package/babel-plugin-add-module-exports).

[2016-01-29 11:35] roadhump opened #22 "Assertion for shallow rendering `equals`"
It would be nice to have assertion to check node against node, `equals` from shallow rendering of `enzyme` (probably `equalsJSX`, same to https://github.com/algolia/expect-jsx)

Now
[code]

Would like to have

[code]

[2016-01-29 19:07] ljharb commented on #22
I'd think `.to.equal(<blah>)` would be nicer than `to.be.equalsJSX` tho

[2016-01-29 19:09] ljharb commented on #16
Actually a better solution would be for `chai-enzyme`'s main entry point to use `module.exports = theDefault` instead of `export default theDefault`. Consumers should **never** have to interact with babel's CommonJS interop.

[2016-01-30 19:37] vesln commented on #22
+1 for `.to.equal`

[2016-01-31 23:57] marcodejongh opened #23 "Remove second argument from generic assertions(attr, data, style, state, prop)"
I think we should remove the second argument from the generic assertions, because chaining should be the recommended use. Currently in the documentation the chaining possibility isn't really pushed even though it is much more powerful then using the second argument.

[2016-02-01 13:01] ayrton commented on #22
For future reference there's [`chai-equal-jsx`](https://github.com/echenley/chai-equal-jsx).

[2016-02-01 13:43] #17 closed

[2016-02-01 22:59] ayrton commented on #23
I don't have strong feelings about this, but I _currently_ don't see the need to break backwards compatibility here, it's a matter of style. We could however do a better job to emphasise more on chaining in the docs if desirable.

[2016-02-01 23:01] ayrton commented on #16
@jbinto this should be no longer an issue as of `v0.3.0`, feel free to re-open if you still have any problems.

[2016-02-01 23:01] #16 closed

[2016-02-02 13:50] vesln commented on #23
i see where you are coming from, but when we designed the api, we wanted it to feel as close to [chai-jquery](https://github.com/chaijs/chai-jquery) and other chai.js plugins and removing this functionality is agains this ideology

happy to update the docs and add more examples of chained assertions, but this is def not going away at this point.

[2016-02-02 13:50] #23 closed

[2016-02-05 10:58] tarjei opened #28 "chai-enzyme depends on cheerio 0.19 but 0.20 is out"
is it possible to loosen the dependency a bit so that it doesn't complain?

[2016-02-05 12:21] ayrton commented on #28
I believe we can drop it all together since enzyme already sets this as a peer dependency. I've opened a pr to address this #29

[2016-02-05 16:57] msaspence opened #30 "Getting "Cannot read property 'hasDescendants' of undefined""
[code]

[2016-02-05 18:51] ljharb commented on #30
Can you provide a bit of the code you used to get this error, and which versions of chai-enzyme and enzyme and chai and mocha you are using?

[2016-02-08 12:32] #28 closed

[2016-02-10 18:36] dylanscott opened #37 ".not.to.exist assertion doesn't work with mount()"
chai-enzyme version: 0.4.0
enzyme version: 1.5.0

I'm running into an issue where asserting that an empty wrapper is not `present()` works in components rendered with `shallow` but not with `mount`. Minimal repro:

[code]

The last call there blows up with this stack trace:
[code]

[2016-02-12 17:14] #37 closed

[2016-02-17 02:16] annthurium opened #41 "expect(undefined).to.have.className("WTF”); // this passes somehow?"
It seems like asserting that undefined has a classname should fail, but it's passing.

[2016-02-17 02:36] marcodejongh commented on #41
@annthurium Are you using the latest version? this should have been fixed with #11

[2016-02-17 02:48] annthurium commented on #41
@marcodejongh I am not!  Will upgrade.  Sorry about that -- I'll check past issues before commenting next time.

[2016-02-17 02:48] #41 closed

[2016-02-19 01:01] ayrton commented on #30
I'm closing this because it's not clear what's causing this, or what versions are being used, feel free to re-open when there is a more detailed bug report.

[2016-02-19 01:01] #30 closed

[2016-02-19 09:00] msaspence commented on #30
Sorry, might have time to look at this today, will reopen with more info when I can

[2016-02-27 18:35] eyalw opened #45 "assertion on value() doesn't work if valueLink is used"
if I use
[code]
the assertion `should.have.value('hello')` will work, but if `valueLink` prop is provided with this value, the assertion will fail.

[2016-02-27 18:55] ayrton commented on #45
@eyalw could you elaborate a little, preferably I'd have a working (or failing ;))  example where I can reproduce the issue so I can look into this.

[2016-02-27 18:58] eyalw commented on #45
sure,
so I use enzyme to `mount()` a tree of componenets including `<<input type="text" valueLink={...}" />`.
As you know, `valueLink` prop is an official React feature to pass down to inputs to bind them to state.
a valueLink is basically an object like so: `{ value: '...', requestChange: function(val) {...}}`.

What happens is that the chai-enzume assertion on value I guess checks for the value

[2016-02-28 00:12] ljharb commented on #45
Presumably this is when using shallow rendering?

`.should.have.value` definitely does (and should) only check the `value` prop. It's a prop assertion, not a "resulting value in the DOM" assertion.

I'd do an explicit assertion on the `valueLink` prop for the `shallow` case. I'd expect `mount` would actually result in a `value` prop, and `render` certainly should.

[2016-02-28 10:42] eyalw commented on #45
I'm using enzyme `mount()`, not shallow rendering. I personally disagree
about the assertion only checking only the value prop, because valueLink
also gives a value prop... and it serves the same purpose exactly as the
regular value prop. I see no reason why it shouldn't check for both, what
do you think?

On Sun, Feb 28, 2016 at 2:12 AM, Jordan Harband <notifications@github.com>
wrote:

[2016-02-28 17:50] ljharb commented on #45
That would make `valueLink` a very special case. I'd expect in both shallow and mount that you can only find props that *you literally typed in your code* - that React turns it into `value` is something `render()` would cover, but nothing else.

[2016-02-29 09:45] eyalw commented on #45
I understand the inconsistency with shallowRendering,
but I also think that when you write value() you expect it to check the value of the input, not the actual prop you passed. it's more logical. otherwise you should check with .prop('value', ..)..

anyway, that's my 2 cents

[2016-03-07 19:53] ItsCosmo opened #46 "assertion of style() for shallow()/render()"
I think there is bug (or perhaps a mis-documentation) of the style() assertion, namely that it only works if you mount() the component.

    describe("Chai-enzyme style test", function() {

        it("should do style test on shallow component", function() {
            const component = (
                        <p style={{color:"red"}}>Hello, World</p>
            );
            const wrapper =

[2016-03-07 20:49] ayrton commented on #46
Actually according to our passing test suit we have `style` support for each render method.

[code]

Will have a closer look to your example.

[2016-03-07 20:56] ayrton commented on #46
Running your tests on master I get these results:

[code]

What versions of chai, chai-enzyme, enzyme & cheerio are you running?

[2016-03-07 22:03] ItsCosmo commented on #46
@ayrton I was running my tests with karma and PhantomJS. If I run these specific tests with jsdom, then all of the tests pass. Since I prefer to run all my tests with the same test runner, I want to stick with PhantomJS and karma if possible. So, I will dive further into this and let you know if anything pops.

[2016-03-07 22:42] ljharb commented on #46
@ItsCosmo which version of phantom? if 1.x, are you at least using es5-shim so that it has `.bind` etc? It might also be that phantom doesn't support strict mode, and cheerio might rely on that behavior.

[2016-03-07 23:53] ItsCosmo commented on #46
@ayrton I modified my karma configuration, so that I am using jsdom now. I am using several of chai-enzyme assertions, but style() is only one hanging me up, even with jsdom. The error is different, though:

    TypeError: (0 , _cheerio2.default) is not a function  (for shallow test)
    TypeError: _cheerio2.default.load is not a function (for render test)

Its looking like karma may be the culpri

[2016-03-08 03:37] ljharb commented on #45
heads up - React v15 [officially deprecates](https://facebook.github.io/react/blog/#new-deprecations-introduced-with-a-warning) valueLink and it will be removed in v16, so I don't think it'd add value to add special support for it.

[2016-03-08 08:27] ayrton commented on #45
I agree with @ljharb here, doesn't seem likely the enzyme or chai-enzyme team will add support for `valueLink` considering it is deprecated.

Personally I have not used `valueLink` ever, but feel free to create a PR to add this functionality and we will consider pulling it in.

[2016-03-08 08:27] #45 closed

[2016-03-15 13:01] keithamus opened #47 "`attr` fails for falsey attribute values"
Hey everyone, great work on the awesome chai plugin!

The `.attr()` assertion fails when asserting on an attribute with a falsey value, such as an empty string.

Consider the following html:

[code]

Asserting `expect(article).to.have.attr('itemscope')` fails when using enzyme's `mount`. It fails because [ReactTestWrapper calls `getAttribute(name) || undefined`](https://github.com/producthunt/chai

[2016-03-15 18:30] vesln commented on #47
@keithamus thanks for opening the issue and the detailed explanation! if you have time to fix the issue and submit a pr, that'd be epic, if not i can do it myself too, just lmk. btw i also granted you push access, which is a small way to say thanks

[2016-03-16 15:13] dpoindexter commented on #46
Were you using Webpack to do module bundling for karma, by any chance? I encountered essentially the same issue when using the `checked` assertion on a shallow render.

Enzyme's documentation suggests configuring Webpack to treat Cheerio as an external module, which was the root cause of my problem. I was able to get it working by resolving Cheerio properly using Webpack's JsonLoader.

If you're n

[2016-03-23 07:09] ItsCosmo commented on #46
Thanks for a very helpful response. This solved my issue. Specifically, I removed the line:
`cheerio': 'window',`

from `externals` configuration, and added the line:
`{ test: /\.json/, loader: "json"}`

to the `module.loaders` configuration

[2016-03-28 17:27] bassettsj opened #50 "Documentation on using chai-enzyme with jquery-chai"
Great project. I have a question on how to configure chai to allow the use of both chai-enzyme and jquery-chai side-by-side. Any help would be appreciated.

[2016-03-29 22:48] marcodejongh commented on #50
@bassettsj What exactly are you trying to achieve by using chai-jquery?
Is it because you want to be able to do jQuery style selectors when testing shallow render results?
In any case chai-jquery will not be compatible with chai-enzyme, because chai-jquery uses the actual DOM where-as chai-enzyme uses shallow rendering and virtual dom.

When mounting React components Enzyme uses cheerio underneath

[2016-04-01 17:11] bassettsj commented on #50
I am not trying to use jquery-chai when testing react components at all, we have been using jquery-chai for testing our old backbone based views. It is more that we want to able to to test our new react based components using chai-enzyme in the same test setup. That is all.

[2016-04-15 13:43] danielmoll opened #58 "Cannot read property 'replace' of undefined"
I'm currently getting the following error when using `mount()` - `Uncaught TypeError: Cannot read property 'replace' of undefined` with the latest version of `chai-enzyme`.
If I revert to the previous `chai-enzyme@0.4.1` there is no error and all runs ok. I haven't been able to track the cause yet.

Dependency versions:

`chai-enzyme@0.4.2`
`enzyme@2.1.0`
`chai@3.5.0`
`mocha@2.4.5`

Basic example

[2016-04-15 13:55] ayrton commented on #58
Thanks for reporting Daniel, I will look into this :)

[2016-04-15 14:07] danielmoll commented on #58
@ayrton apologies, I've figured out, and it just must have been a coincidence with reverting back a version but it's down to ads causing a global leak in the tests. Yeah, ads in the test :(

[2016-04-15 14:07] #58 closed

[2016-04-20 11:58] danielbachhuber opened #59 "Expected behavior for <textarea>?"
Should you be able to use `.value()` to determine the value of a `<textarea>`?

[code]

[2016-04-20 12:36] ayrton commented on #59
To test your scenario I've changed `test/value.test.js` to:

[code]

and these textarea tests do fail, I believe this is a bug and will fix this (on Friday).

[2016-04-20 12:43] danielbachhuber commented on #59
Thanks!

[2016-04-20 20:54] rylanc opened #60 "Issue using chai-enzyme alongside chai-jquery"
The root of the problem appears to stem from the fact that chai-jquery uses `checked` as a property:
[code]
 While chai-enzyme implements it as an assertion method:
[code]

If I call `chai.use` with chai-jquery first, chai-enzyme chokes while trying to add the `checked` assertion (`chaiWrapper.addAssertion(checked, 'checked')`):
`Uncaught TypeError: Cannot read property 'is' of undefined`

If I ca

[2016-04-20 21:46] zelitzsi opened #61 "TDD assertion style"
Chai supports [TDD-style assertions](http://chaijs.com/api/assert/) in the form of assert.equal(), assert.include(), etc. Is it possible for that to be added to chai-enzyme? From briefly looking at the code, I think it could easily be done either by modifying ChaiWrapper or by explicitly defining each assertion in terms of an expect/should function. It would probably be helpful to work with [chai-

[2016-04-20 23:48] ljharb commented on #60
noop matchers are a huge antipattern. Could we convince chai-jquery to make a breaking change to make that be a function matcher?

They don't even have to make it breaking - they could make the getter do the assertion, and return a noop function that could be invoked.

[2016-04-21 09:43] vesln commented on #60
i have push access to chai-jquery and can do the change and release another major version...

...however, it seems pointless to tackle those specific cases, since we are planning to rework the entire chai.js plugin system... timing is unclear but @keithamus might have an idea

until then I will suggest to implement a workaround... an assertion that overwrites both jquery's and enzyme's `checked` a

[2016-04-22 10:40] keithamus commented on #60
Timeline for this is many months away. Maybe we will have it by end of this year.

As unpleasant as this might be, it sounds like the easiest workaround IMO.

We tried doing this in chai core. Suffice it to say that it did not end well and we reverted it pretty quickly.

This issue highlights a failing in the current chai plugin system. We should absolutely (and are planning to) fix this, but it w

[2016-04-22 16:15] ljharb commented on #60
when you rework it, can you prevent noop function matchers? It's a hugely bad pattern to use, and it makes mocha unusable in ES3 environments (browsers many of us still have to support).

[2016-04-23 09:25] #59 closed

[2016-04-23 09:26] ayrton opened #64 "Add `select` support for `contain` assertions"
See #63 for context

[2016-04-24 21:23] tleunen commented on #47
Same issue, especially when testing input fields...
[code]

[2016-04-24 22:45] ljharb commented on #47
To clarify, `<a b />` should have an implicit value of `true` for the `b` prop on `a`.

[2016-04-26 09:07] keithamus commented on #60
@ljharb I don't want to hijack this thread, so I'll just say we have an issue (https://github.com/chaijs/chai/issues/585) which details what the new plugin interface will look like. Plugins will be abstracted away from decisions like property based assertions, and it will be determined by interface.

[2016-05-02 14:08] rik opened #67 "Add an example of `.descendants` with components"
The following is a useful way to test descendants but it is not highlighted in the README.

[code]

[2016-05-02 14:26] ayrton commented on #67
@rik valid point, feel free to open a pull request to fix this. This would be greatly appreciated :)

[2016-05-12 13:19] idoo opened #73 "Typescript definition"
Hey! Thank you for this module!

What about typescript definition?

[2016-05-12 13:35] vesln commented on #73
a PR with ts def will be merged immediately :)

[2016-05-15 21:14] #67 closed

[2016-05-26 08:08] sazzer opened #78 "Support for counting all child elements"
Occasionally I have situations where I want to do assertions on markup that might have child nodes inserted into it. I want to do tests where there are known children and to make sure that they are inserted correctly.

The problem here is that the children could be any nodes at all, and I want to make sure that no unexpected nodes are appearing in the element tree. It seems the easiest way of doin

[2016-05-27 11:56] pahund opened #80 "Value assertion does not work on HTML <select> elements"
If I have this element:
[code]
This assertion is true, as expected:
[code]
If I have this element:
[code]
The same assertion fails, value is supposedly undefined.

[2016-05-27 16:13] ljharb commented on #80
@pahund because `select` doesn't have values, and its value depends on having a `selected` `<option>`. Try adding `selected` to the option tag, and remove "value" from `<select>`.

[2016-05-27 17:58] RobinClowers opened #81 "Contain doesn't work in react 15?"
I just upgraded to react 15.0.1, enzyme 2.3.0, and chai-enzyme 0.4.2. I have a pretty simple test:

[code]

I get this error:

[code]

The only odd thing is that `ChildComponent` is a sinon stub, but the error indicates that it never even got to the actual assertion. What am I doing wrong?

[2016-05-27 17:59] RobinClowers commented on #81
In retrospect, this seems like a problem with Enzyme, not this lib. Feel free to close this if that's the case.

[2016-05-27 18:07] #81 closed

[2016-05-27 18:07] RobinClowers commented on #81
I switched to using `containsMatchingElement`, which worked.

[2016-05-30 06:37] pahund commented on #80
That's what I did at first, but when I do, React gives me a warning message on the console that I should use "value" on my select tag instead of "selected" on an option tag.

[2016-05-30 06:45] pahund commented on #80
![eingang_-_pahund_-_private_nachrichten_-_motor-talk_de](https://cloud.githubusercontent.com/assets/1639313/15641705/ce161fa6-2642-11e6-9c28-5be19894e53d.png)

[2016-05-30 16:11] ljharb commented on #80
Ah, interesting. In that case I think your expectation (that it works) is reasonable.

[2016-05-30 16:58] ayrton commented on #80
Not too long ago I've added `value` support for `textarea` HTML elements in #63, I had already created an issue #64 to fix this for `select` HTML elements too.

I will close #64 since this issue has more info. I can work on a solution when I have some spare time.

[2016-05-30 16:58] ayrton commented on #64
Closing in favour of #80

[2016-05-30 16:58] #64 closed

[2016-05-30 18:38] pahund commented on #80
Thanks @ayrton and @ljharb, keep up the good work!

[2016-05-31 10:35] ayrton commented on #80
Fixed in #82

[2016-05-31 10:35] #80 closed

[2016-06-03 21:09] junpos opened #83 "The example code for present() is misleading"
`.find()` returns `ShallowWrapper` which is alway present no matter what. -- http://airbnb.io/enzyme/docs/api/ShallowWrapper/find.html

[code]
Instead existence check should look like
[code]

[2016-06-03 21:10] ljharb commented on #83
Both of those are built-in chai matchers, and since they return objects, that's correct. In other words, those are not the correct matchers to be using. You should use `expect(wrapper.find('foo')).to.have.lengthOf(1)` or similar.

[2016-06-03 21:15] junpos commented on #83
Nice to know the right matcher!

[2016-06-04 13:57] #47 closed

[2016-06-09 12:33] Anahkiasen commented on #22
@ayrton `chai-equals-jsx` doesn't accept an enzyme wrapper though, only JSX, or is there a way to get the JSX from the enzyme wrapper?

[2016-06-09 21:39] keithamus commented on #22
i would like to encourage the use of shadowing built in chai assertions - I think this is the direction we'd like to see plugins go in - rather than pre/suffixing. So +1 for `.to.equal`.

[2016-06-10 00:10] ljharb commented on #22
imo it's a very bad idea to shadow `chai` assertions. That will require that this project stays tightly in sync with major version updates of `chai` itself.

It's best to create new method names - it will make support, documentation, googling, and simple reading comprehension to be much more straightforward.

[2016-06-10 08:55] keithamus commented on #22
Why do you think this @ljharb? Since very early versions of chai, it has encouraged the ability to transparently shadow methods with `overwriteMethod` and the plans for upcoming major versions will only improve the behaviour around this.

[2016-06-10 09:19] vesln commented on #22
I agree with @keithamus, we (chai.js team) have always encouraged it and pretty much the core goal of the next major chai.js release is to make this behavior more robust.

re staying in sync with chai.js - i think that would be the ideal scenario, but it's not necessarily a must do. we can always introduce aliases where it makes sense. imo introducing api breaking changes for this project is a hug

[2016-06-10 09:20] vesln commented on #22
^^^ oops :)

[2016-06-11 07:22] ayrton commented on #83
We should probably document this behaviour to avoid any further confusion, any chance you can open a PR @junpos?

[2016-06-14 20:46] ayrton opened #85 "containsMatchingElement"
We should consider adding [loose equals and loose contain](https://github.com/airbnb/enzyme/blob/master/docs/api/ShallowWrapper/containsMatchingElement.md) assertions, these were recently intro'd in [enzyme@2.3.0](https://github.com/airbnb/enzyme/blob/master/CHANGELOG.md#230-may-9-2016), specifically in this [PR](https://github.com/airbnb/enzyme/pull/362).

[2016-06-15 04:00] vesln commented on #85
sweet.

any suggestions about the dsl? `.loose.equal()` and `.loose.contain()` is one option

[2016-06-21 21:36] LeopoldoFu commented on #85
Seems like it is [matchesElement](http://airbnb.io/enzyme/docs/api/ShallowWrapper/matchesElement.html) now.

[2016-06-22 07:49] ayrton commented on #85
From reading the documentation

- `.loose.equal()` would need to use [`containsMatchingElement`](https://github.com/airbnb/enzyme/blob/master/docs/api/ShallowWrapper/containsMatchingElement.md)
- `.loose.contain()` would need to use [`matchesElement`](https://github.com/airbnb/enzyme/blob/master/docs/api/ShallowWrapper/matchesElement.md)

@lelandrichardson @ljharb what are your thoughts on the `lo

[2016-06-22 08:28] ljharb commented on #85
Wouldn't it be the opposite? `loose.equal()` should be `matchesElement`, and `loose.contain` should be `containsMatchingElement`?

[2016-06-22 08:29] ljharb commented on #85
It seems like it'd be simplier to do `expect(foo).to.matchElement(bar)` and `expect(foo).to.containMatchingElement(bar)` though.

[2016-06-22 08:29] ayrton commented on #85
Euh my bad - updated example

[2016-06-23 13:49] lloyd85 opened #86 "chai test negation `not.` doesnt work as expected"
The `not.` chainable getter does not work within the assertion.  E.g. `expect('faz')**.not.**to.be('bar') fails the test.

[2016-06-23 13:54] ayrton commented on #86
Can you please elaborate a bit more.

The following expectation seems to be valid:

[code]

[2016-06-23 22:21] junpos commented on #83
@ayrton sorry for my late reply. sure I'll open it soon

[2016-06-29 13:45] devboell commented on #86
I think i ran into the same issue:

[code]

  let me know if you need more info.
thanks

[2016-06-29 13:47] ayrton commented on #86
Can you edit your example to a complete reproducible bug. Both the component and tests without any  cruft please, I can have a look at what might possibly be wrong then.

[2016-07-01 20:43] christiansakai opened #87 "Does .to.have.prop work as intended?"
I thought `to.have.prop` will return `this.props` of a component, until I saw this issue

https://github.com/airbnb/enzyme/issues/397

[2016-07-04 16:22] ayrton commented on #86
I have tried to reproduce this issue with the following code:

[code]

And this is the output:

[code]

So I don't think this is a bug in chai-enzyme unless I'm missing something?

[2016-07-05 12:09] lisss opened #88 "to.have assertions fail with 'TypeError: Cannot read property '<prop_name>' of undefined'"
I'm trying to use `to.have.text` assertion for my component test but it fails for me with `TypeError: Cannot read property 'text' of undefined`
To demonstrate, I've tried an example from your docs:
[code]

Here's the full stacktrace:
[code]

It looks like applicable to all `to.have` assertions
chai-enzyme version is 0.5.0

[2016-07-05 17:36] lisss commented on #88
It turned out to be a caching issue... :anguished:

[2016-07-05 17:36] #88 closed

[2016-07-06 10:08] devboell commented on #86
Hi there,

 Indeed, I don't get the bug when I just use chai-enzyme, it only happens in combination with the dirty-chai lib. I think the repo I made demonstrates that (unless it is something particular to my machine)

  It's not a show-stopper for me, I stopped using dirty-chai. Possibly it's interesting for you to find out how another library can cause this strange assertion behaviour on your lib

[2016-07-06 15:42] MaximeHeckel commented on #88
How did you manage to fix this?

[2016-07-06 16:25] lisss commented on #88
@MaximeHeckel, not sure what exactly was causing the issue but after a lot of time spent debugging I've just completely cleared up build directory, rebuilt the project and it started working 😄
But if it doesn't help, there might be also possibility that you have multiple enzyme instances (one imported by your tests and another imported by chai-enzyme)

[2016-07-13 14:24] Darkmap opened #89 "expect(wrapper).to.contain() doesn't work for dangerouslySetInnerHTML"
For this problem, I've tested both shallow and mount, the `expect(wrapper).to.contain()` cannot detect the rendered element from dangerouslySetInnerHTML.

For example, if I have a component like that:
[code]

[2016-07-13 16:09] ljharb commented on #89
In that case you're seeing if it contains a ReactElement matching that `<a>`, which it does not.

If you set HTML, you have to search for *html* - ie, strings, not elements.

[2016-07-13 21:20] Darkmap commented on #89
Really helpful, thank you!
Seems I just misunderstood the implementation of `dangerouslySetInnerHTML`.

[2016-07-13 21:21] #89 closed

[2016-07-20 19:26] idoo commented on #73
https://github.com/producthunt/chai-enzyme/pull/90

[2016-07-21 17:03] droarty commented on #86
I ran into this with `expect`.   Per your documentation I can test to see if `.find()` is finding anything.  And it works just fine:
[code]
However, when I try to test for something that should not be there, it fails.
[code]

I don't see the use of `.not` in the documentation but would have expected it to work.   Or rather, it would be nice to make it work.  Thanks.

[2016-07-21 17:05] ljharb commented on #86
@droarty that's because `no.to.exist` only passes when the value is null or undefined. `.find` always returns a wrapper object.

The only thing you should be using there is `expect(…).to.have.lengthOf(x)` (and the inverse).

[2016-07-21 17:08] ayrton commented on #86
@droarty that's right - this was also reported in #83, the offer still stands a PR to emphasise this behaviour is greatly appreciated. Thanks for explaining btw @ljharb

[2016-07-21 17:38] droarty commented on #86
Thanks for the quick replies.   I would offer to edit the documentation but I also have a question on the issue raised in PR #83 which I will address there.

[2016-07-21 17:48] droarty commented on #83
So I am happy to edit the documentation but I still have a question about this issue.   As far as I can tell from the code, `.present` is an alias for `.exist` which calls `wrapper.isPresent()`.  But to use the matcher you don't include the parenthesis in either case.  So:
[code]
Calling them like methods gives the error:
[code]

So I assume the documentation should reflect that.   If this makes s

[2016-07-26 09:33] albertogasparin commented on #13
Sorry guys, any update on this one?

[2016-08-01 14:38] evandavis opened #92 "Shallow `contain` fails"
The [documentation for `contain`](https://github.com/producthunt/chai-enzyme#containnode) states that I can assert a shallow wrapper contains a node, but this SSCE fails:

[code]

`it('renders the child')` throws the following error:
[code]

but `it('finds the child')` passes.

(Note that I have `expect` and `shallow` available as globals in my Mocha test env.)

**Are the docs wrong** or am I usin

[2016-08-02 14:25] ayrton commented on #61
We at Product Hunt don't use TDD-style assertions, I think it's unlikely we will build this ourselves. We are however open to any improvements/additions if the code is not too intrusive.

[2016-08-02 14:35] ayrton commented on #92
I'm not entirely sure what is wrong with the code you've posted. I just ran your test code on master with the following results:

[code]

[2016-08-02 15:09] evandavis commented on #92
@ayrton can you post your testfile? (What is `npme`?)

I'm using:
[code]
and very much still getting this error.

[2016-08-02 15:10] evandavis commented on #92
This is interesting...

[code]

results in

[code]

😞

[2016-08-02 15:12] ayrton commented on #92
This is my test file (`test/foo.test.js`):

[code]

`npme` is an alias I have on my machine:

[code]

translates to:

[code]

[2016-08-02 16:56] evandavis commented on #92
You are testing the OPPOSITE of my assertion; you have `expect(wrapper).to.not.contain(<ChildComponent />)`.

[2016-08-02 16:57] ayrton commented on #92
@evandavis sorry that was a 'typo' - I wanted to check later one that the tests failed negated.

These all succeed:

[code]

[2016-08-02 16:58] evandavis commented on #92
And you have the same versions of the dependencies that I have?

[2016-08-02 17:00] ayrton commented on #92
This is an exact copy of your test code at the beginning of the thread except for the added

[code]

and missing (b/c of global):

[code]

with the following dependencies:

[code]

[2016-08-02 17:02] evandavis commented on #92
Welp, OK, I guess I just can't use this package.

[2016-08-02 17:52] ayrton commented on #92
@evandavis try removing your `node_modules` directory and `npm install`. My guess is that there's some outdate dependency. If not can you isolate this issue in something re-producable so I can dig in.

[2016-08-02 18:58] evandavis commented on #92
After re-installing my `node_modules`, I've simplified the example down to:

[code]

which I run with
[code]
and I get the same results. The `.to.contain` test fails.

[2016-08-02 19:26] ayrton commented on #92
The problem is that you didn't [set up chai-enzyme](https://github.com/producthunt/chai-enzyme#setup) properly. I've created a demo repo to reproduce this.

__Before:__
https://github.com/ayrton/chai-enzyme-issue-92/commit/1286f417df8c60887711149224587402a4665f2c

[code]

__After:__
https://github.com/ayrton/chai-enzyme-issue-92/commit/5511d692ae18e987cb6f22f8438052baf49f2700

[code]

[2016-08-02 19:26] #92 closed

[2016-08-07 21:13] reintroducing commented on #16
I'm trying to get this working with a Karma/webpack setup and I'm pretty lost as to how to do this. What is the proper way to get this working with Karma? Is there documentation anywhere that would show this? Would really appreciate any help offered.

[2016-08-08 07:31] ayrton commented on #16
@reintroducing I'm not familiar with karma, but I saw @jbinto figured this out in https://github.com/mxstbr/react-boilerplate/issues/119 & https://github.com/mxstbr/react-boilerplate/pull/150. Maybe checking out react-boilerplate's [karma.conf.js](https://github.com/mxstbr/react-boilerplate/blob/master/internals/testing/karma.conf.js) will help you out.

[2016-08-08 10:40] reintroducing commented on #16
@ayrton I looked it over before posting but the setup is slightly different than mine. I'm going to try again with that exact setup when I get a moment and see if I can chase this down. Thanks for the links.

[2016-08-16 07:03] ljharb opened #97 "matcher for `is`"
I tried `expect(foo).to.be.a('bar')` to be a nicer form of `expect(foo.is('bar')).to.equal(true)`, but it didn't work. What do you all think about a matcher for this?

[2016-08-16 07:21] ljharb opened #98 "react-element-to-jsx-string requires react 15 :-("
I'm using React 0.14, and react-element-to-jsx-string has a direct dependency (not a peer dep) on react-addons-test-utils - https://npmcdn.com/react-element-to-jsx-string@4.0.0/package.json.

This means that a normal `npm install` will install a 15.x version of react-addons-test-utils, which will then complain that my React 0.14 doesn't work.

react-element-to-jsx-string needs to have a peer dep o

[2016-08-16 07:36] ayrton commented on #98
As a workaround I believe we can loosen up the dependency to do `^2.1.0 | ^3.0.0`. See [this diff](https://github.com/algolia/react-element-to-jsx-string/compare/v2.1.0...v3.0.0).

We only have [one use case](https://github.com/producthunt/chai-enzyme/blob/f133f1d607d632af4645f9d4971778271d0dabfc/src/assertions/contain.js) with react-element-to-jsx library so far.

[2016-08-16 07:37] ayrton commented on #98
@ljharb how do you see the most ideal solution?

[2016-08-16 07:41] keithamus commented on #97
👍 from me

[2016-08-16 07:43] ljharb commented on #98
That won't solve it, since npm will still try to install the latest.

The ideal solution is that nothing is a singleton and nothing needs peer deps :-) but React is a singleton, so all react things must only specify React things as peer deps. In other words, if I want to use chai-enzyme (with react-element-to-jsx-string as a dependency), i *must* install `react-addons-test-utils` as a top-level de

[2016-08-17 03:32] benjamine commented on #85
maybe `expect(foo).to.contain.matchingElement(bar)` ? (following the dot-notation style of other assertions like 'have`)

[2016-08-23 01:44] nickarora opened #99 "New Release?"
Just curious when you plan to release the next version of chai-enzyme.  Currently, I'm getting a few deprecation warnings stemming from chai-enzyme's dependencies (that I see have been corrected on the master branch).

[2016-08-23 07:13] ayrton commented on #99
Published 0.5.1 just now

[2016-08-23 07:13] #99 closed

[2016-08-26 12:22] ayrton commented on #87
Closing because it's not clear to me what this issue is about. Feel free to re-open if you can provide more context and what can be done about it.

[2016-08-26 12:22] #87 closed

[2016-08-29 08:44] weblogixx opened #102 "Bug (Feature-Request?): State should allow to check against primitives like []"
Hi all,

first of all, thank you for this plugin. It makes testing with enzyme a little less painful 👍.
I just wanted to try the .state check on a fairly simple component that currently looks like this:

[code]

The test looks like this:

[code]

***Current behaviour:***
AssertionError: expected <MyComponent /> to have a 'items' state with the value [], but the value was [].

***Expected Behaviour

[2016-08-29 17:58] AlexEscalante opened #103 "TypeError: not a function"
Hello, guys. I was told [here](https://github.com/chaijs/chai/issues/777) to use chai-enzyme to get the `to.exist` assertion working. Currently it just gives false positives, which is terrible, I think. I am just pasting here the last comment since it got not attention there:

I tried using chai-enzyme but had no luck:

    import chai, {expect} from 'chai';
    import chaiEnzyme from 'chai-enzyme

[2016-08-29 18:03] ayrton commented on #103
Can you cross reference if you setup chai-enzyme any different that [the repo](https://github.com/ayrton/chai-enzyme-issue-92) I created for #92  please.

[2016-08-29 19:00] Mrparkers opened #104 "Linking master branch for local development"
Hi all,

I was interesting in taking a look at this library to see how it works and if I was able to help contribute, so I decided to pull it down and link my codebase to use the local version of `chai-enzyme`.

[code]

After doing this and running my test suite, every single test that uses `chai-enzyme` assertions fails.

[code]

And so on.  It looks like `wrapper` is undefined in `assertions/tag

[2016-08-29 20:57] ljharb commented on #104
You can't simply link anything that has a build process. You'll need to run `npm install` and `npm run build` inside the project folder before it can be used.

[2016-08-29 21:02] Mrparkers commented on #104
Running `npm link` will automatically run `npm prepublish`, which includes the install and build process.

[code]

[2016-08-29 21:16] ljharb commented on #104
However, that won't install dev dependencies - but sure, if you already have them installed you'll be all set.

Is there anything about your test suite that might be transpiling things in node_modules for you?

[2016-08-29 21:18] Mrparkers commented on #104
My test suite (mocha) uses babel-register.  Does that affect node_modules too?

[2016-08-30 01:14] sherwinyu commented on #85
This would be great! If no one is working on it, I may try to take a stab at it this weekend -- came looking for this feature and found this existing issue.

[2016-08-30 04:27] ljharb commented on #104
Yes, `babel-register` affects everything that uses `require`.

[2016-08-30 13:10] Mrparkers commented on #104
Okay, but I still don't understand why this would affect local development.  `babel-register` seems to not be an issue when I'm pulling this down as a devDependency from npm.

[2016-08-30 13:33] ayrton commented on #85
@sherwinyu feel free to start an implementation, this is def. something we will accept as a PR. I currently like @benjamine's suggestion the most

[2016-08-31 19:37] AlexEscalante commented on #103
This is odd. I tried to integrate chai-enzyme again and I could not reproduce my issue. Sorry, I am closing this.

[2016-08-31 19:37] #103 closed

[2016-09-08 14:59] prurph opened #107 "Why does tagName assertion delegate to the name property on shallow/cheerio wrapper?"
I'm a bit confused by the implementations of `tagName` on some of the wrappers where they delegate to the element's `name` property: https://github.com/producthunt/chai-enzyme/blob/master/src/ShallowTestWrapper.js#L44.

[According to MDN](https://developer.mozilla.org/en-US/docs/Web/API/Element/name) the name property only exists for certain elements. Why do the shallow and cheerio wrappers not us

[2016-09-08 15:16] ayrton commented on #107
I can't remember what the exact reason was to use `name` when I added the tagName matcher in https://github.com/producthunt/chai-enzyme/commit/c5b435bfc7a8625dc3e33e3fe926b9d359d7b456. I don't see anything wrong with your code, so this is most likely a bug. Feel free to open a PR to update the implementation, but please make sure that existing tests succeed and add a new test (that fails with the

[2016-09-08 15:56] prurph commented on #107
Thanks for the quick response! Having forked the repo I'm unable to replicate my failures, so while it seems like in theory these should be calling `tagName` (and the existing tests here do pass with this change), it must be something with the environment for the project where I'm having the issue.  Perhaps a weird dependency mismatch causing `$(this.wrapper.html())` to return something without a

[2016-09-09 11:09] #107 closed

[2016-09-29 17:52] rufman opened #113 "ES6 style import results in test errors"
# Local chai-enzyme config
When configuring `chai-enzyme` globally I have failing tests, but if I add the following to the file with the failing tests it works:
[code]

# Global chai-enzyme config
Importing `chai-enzyme` as a CommonJs module and configuring it globally works fine, but the ES6 style import causes tests to fail.
[code]
logging the export of each of these shows that `chaiEnzymeEs6 ==

[2016-10-05 01:44] joffotron opened #114 "TypeError: Cannot read property 'value' of undefined on shallow component"
Hi,

I'm using 0.5.2 and I have:

[code]

The _first_ assertion works fine (i.e the it finds the input field okay), but I then get:

[code]

[2016-10-06 09:45] freewind opened #115 "`checked()` sometimes not correct?"
Please see my question: http://stackoverflow.com/questions/39892256/checkbox-is-not-checked-after-simulate-change-with-enzyme

[2016-10-11 15:13] rincedd opened #116 "contain text assertion does not work if String.prototype.includes is not available"
The following breaks in environments that do not support the ES2015 method `String.prototype.includes`, such as Internet Explorer and Phantom JS.
[code]
I guess the solution would be to include an appropriate polyfill in the build.

[2016-10-11 15:28] ayrton commented on #116
Closely related to https://github.com/producthunt/chai-enzyme/pull/111

[2016-10-16 13:34] wellyshen opened #117 "Can't run on react-addons-test-utils@15.4.0-rc.3"
Hi I update my react, react-dom, react-addons-test-utils to 15.4.0-rc.3, that the error occurs when I run `npm test`.

Any solution for this?

[2016-10-17 08:08] ahstro commented on #97
Shouldn't `match` do this? That is `expect(foo).to.match('bar')`?

[2016-10-17 15:35] ljharb commented on #97
"match" implies a selector/regex, and possibly multiple elements. is/be imply one exact identity.

[2016-10-17 17:52] imakewebthings opened #119 "Tests fail with Enzyme 2.5.0"
Enzyme 2.5.0 was released 12 hours ago. With that version, `.to.have.attr` (and probably other) calls are failing with an error of `cannot read property "call" of undefined`.

Running chia-enzyme tests with enzyme@2.4.1, all 373 tests pass.

Running chai-enzyme tests with enzyme@2.5.0, 312 passing, 61 failing.

[2016-10-17 18:15] ayrton commented on #116
Merged in #111 so this will no longer be an issue on the next release

[2016-10-17 18:15] #116 closed

[2016-10-17 18:16] ayrton commented on #119
The maintainers of enzyme are on it, this will be fixed in the next release of Enzyme. See #118 for more information

[2016-10-17 18:28] imakewebthings commented on #119
@ayrton Ah, my bad, I should have checked PRs first. Thank you for the fast response and keep up the excellent work.

[2016-10-17 18:28] #119 closed

[2016-10-17 19:26] aequasi opened #120 "TypeError: Cannot read property 'call' of undefined"
I know im not giving a ton of information here, but im really not sure what is causing this issue.

I'm using webpack to compile everything

[code]

and the code:
[code]

The last line there, is line 75 of Image.test.js

[2016-10-17 19:33] ayrton commented on #120
Upgrade to enzyme 2.5.1 and you should be good to go. Duplicate of #119

[2016-10-17 19:33] #120 closed

[2016-10-17 19:34] ayrton commented on #119
@imakewebthings you can now upgrade to enzyme@2.5.1

[2016-10-17 19:37] aequasi commented on #120
Ah, awesome. Thanks!

[2016-10-18 18:30] prurph commented on #107
Just an update to this in case someone else stumbles across this. I upgraded to cheerio 0.22 from 0.19 and the issue went away. It surfaced in the first place upon upgrading lodash from 3.x to 4.x and some weird interactions related to that whole change since we do make `_` available globally.

[2016-10-20 20:42] jcarbo commented on #97
The `.match()` matcher seems to actually just be a wrapper around [`.is()`](https://github.com/airbnb/enzyme/blob/master/docs/api/ShallowWrapper/is.md). I just submitted a PR to make it more consistent and support any valid [EnzymeSelector](https://github.com/airbnb/enzyme/blob/master/docs/api/selector.md) (see: https://github.com/producthunt/chai-enzyme/pull/121).

Assuming that PR is merged, you

[2016-10-21 14:11] rincedd commented on #116
Thanks :+1:

[2016-11-01 16:46] siakaramalegos opened #126 "`blank()` does not return errors for non-null components as suggested"
I was struggling to get `blank()` to fail when a component had content. I eventually copied the exact code from the example but had it return content rather than null:
[code]

The example tests do not fail (they pass):
[code]

[2016-11-04 09:52] ayrton commented on #97
@ljharb - @ahstro is correct, the behaviour you want is currently what `match` does, that being said we could have done a better job at naming this and with @jcarbo's PR merged I think we should add support for `.to.be.a` 👯

[2016-11-04 11:57] ayrton commented on #98
I think it's best to pin chai-enzyme to `0.4.2`, which is the latest release that doesn't pull in `react-element-to-jsx-string`.

As an aside `react-element-to-jsx-string` supports react [`0.14.8`](https://github.com/algolia/react-element-to-jsx-string/blob/master/package.json#L35) and above while we support `0.14` and above, maybe we should bump this too? thoughts? cc @vesln

[2016-11-04 13:30] ayrton commented on #78
I would tackle this problem differently and test the presence (or absence of children) like this:

[code]

[2016-11-04 13:40] ayrton commented on #102
chai-enzyme doesn't do any deep comparisons by default, nor does chai afaik, you have to explicitly add the flag:

[code]

I agree that the following would be nice to have:

[code]

Similar to [`props`](https://github.com/producthunt/chai-enzyme#propskey-val), PRs are welcome.

[2016-11-04 13:59] ayrton commented on #114
I don't see any issues with the code above, I tried to reproduce the issue with the following code on master:

[code]

this returns me:

[code]

Closing this, feel free to re-open if you can give more context.

[2016-11-04 13:59] #114 closed

[2016-11-04 14:04] ayrton commented on #115
I'm not familiar with your `should` syntax in the following code:

[code]

See our documentation as to how to use [`checked`](https://github.com/producthunt/chai-enzyme#checked).

[2016-11-04 14:04] #115 closed

[2016-11-04 14:09] ayrton commented on #117
Our dependency was a little outdated, I've updated react-element-to-jsx-string to ^5.0.0 can you verify if this is still an issue with chai-enzyme 0.6.0 (to be released later today)

[2016-11-04 14:24] ayrton commented on #126
Looks like this is a bug when the component is mounted (not when using `shallow` or `render`):

[code]

Results:

[code]

[2016-11-04 17:56] ljharb commented on #98
bumping to the latest 0.14 seems just fine

[2016-11-04 18:05] ljharb commented on #78
`expect(wrapper.children()).to.have.lengthOf(n)`?

[2016-11-05 09:28] ayrton commented on #117
Our dependency were a little outdated, I've updated react-element-to-jsx-string to ^5.0.0 can you verify if this is still an issue when using chai-enzyme@0.6.0?

[2016-11-05 18:44] wellyshen commented on #117
Hi @ayrton, I have tried to upgrade the chai-enzyme to v0.6.0 but I still get the error :

Module not found: Error: Can't resolve 'react/lib/ReactTestUtils' in '/Users/Welly/Desktop/react-cool-starter/node_modules/react-element-to-jsx-string/node_modules/react-addons-test-utils'
 @ ./~/react-element-to-jsx-string/~/react-addons-test-utils/index.js 1:17-52
 @ ./~/react-element-to-jsx-string/index-d

[2016-11-05 18:47] ayrton commented on #117
I think there's something seriously wrong with the following path:

[code]

react-addons-test-utils should live in:

[code]

Not in the above.

[2016-11-05 18:53] wellyshen commented on #117
@ayrton The react-addons-test-utils was installed in the path of node_modules, you can see my [repo](https://github.com/wellyshen/react-cool-starter/blob/master/package.json). I rollback to 15.3.2 due to this issue.

[2016-11-05 18:59] ayrton commented on #117
I have the feeling this is an issue with [react-element-to-jsx-string](https://github.com/algolia/react-element-to-jsx-string) using react internals (which have changed in the rc version). Can you create an issue there and see if they know more?

[2016-11-05 19:01] wellyshen commented on #117
@ayrton OK, thanks.

[2016-11-05 19:01] #117 closed

[2016-11-05 22:46] ljharb commented on #117
react-addons-test-utils should not be a dependency of anything - only a peer dep - just like react and react-dom - this is how singletons work in the npm ecosystem.

Thus, react-addons-test-utils should never exist anywhere but in your package.json, in the peerDeps of related modules, and in the top level of your `node_modules`. If react-element-jsx-to-string violates this, it's a bug in that pack

[2016-11-09 08:27] aaron-axisa opened #128 "Not compatible with upcoming version of react"
React 15.4.0-rc.4 breaks this library as you were depending on react/lib/ReactTestUtils (which is now under the react-dom package, however it is reccomended to not depend on anything in the /lib directory.

[2016-11-09 09:13] ayrton commented on #128
Duplicate of #117 tldr; this is an issue with https://github.com/algolia/react-element-to-jsx-string/issues/56

[2016-11-09 09:13] #128 closed

[2016-11-17 20:19] arnaudlimbourg opened #129 "Lastest React 15.4.0 breaks running test"
The latest React release moved the last remnants of dom related code to react-dom.

Running chai-enzyme breaks with the following error
[code]

Changing the incriminated line to
` module.exports = require('react-dom/lib/ReactTestUtils');`

makes it work but it might have other implications.

refs #https://github.com/facebook/react/issues/8314

[2016-11-17 22:21] ljharb commented on #129
`react-addons-test-utils` should be both a devDependency and a peerDependency of `chai-enzyme`, and like `react` and `react-dom` (which should also be peerDeps + devDeps), should match your react version.

If all three are on 15.4, you won't have a problem.

[2016-11-17 23:13] ayrton commented on #129
@ljharb do you recommend pinning react-addons-test-utils, react & react-dom in both devDependencies & peerDependencies to `^15.4.0-0` and releasing a new chai-enzyme version?

More context: https://github.com/algolia/react-element-to-jsx-string/issues/56

[2016-11-18 00:06] ljharb commented on #129
@ayrton Separate from the react-element-to-jsx-string issue, I'd say that all three of those libs should have as wide a semver range in peerDeps as possible (ideally allowing ^0.14 - ^15), and a compatible ^ range in devDeps (all three the same). I don't think it needs to be pinned; and RC versions shouldn't be that much of a concern, but if the semver range can include it, more the better.

[2016-11-18 08:45] vvo commented on #129
As for react-element-to-jsx-string, this is now fixed on our side.

[2016-11-18 12:06] ayrton commented on #129
@ljharb confirmed in #130 that this fixes the issue above
@vvo thanks

Will release a new version soon.

[2016-11-18 12:22] #129 closed

[2016-11-21 09:54] beagleknight opened #131 "Karma + Webpack + PhantomJS: SyntaxError: Unexpected token 'const'"
Hi there!

I created a new project and installed `chai-enzyme@^0.6.1`. When I try to run my tests I receive the following error:

[code]

I tried the same configuration with `chai-enzyme@^0.4.1` and it works. Do you have any idea what it could be?

I'm using the following `karma.conf.js`:

[code]

[2016-11-21 16:19] korbin commented on #131
My guess is this is your .babelrc - please make sure you have (babel-)`preset-es2015` in there to compile `const` back down to `var` for PhantomJS and other older JS clients.

[2016-11-24 00:21] Drasky-Vanderhoff commented on #85
I'm new to enzyme and i just found that really want to use containMatchingElement in order to avoid restriction of getting exactly the same tag with all attributes in order to match with the one i expecting. Glad that you are considering this feature, is there any idea of when this will be implemented or someone is actually working on it ? Thanks!

[2016-11-24 10:39] ayrton commented on #85
@Drasky-Vanderhoff no work has been started as far as I know

[2016-11-28 15:22] ZaherMustapha opened #132 "An undefined argument is not supported (validated) by the prop function"
This test is supposed to pass which is working fine:

[code]

But this test is supposed to fail but its still passing given that `props.dsadv` is undefined:

[code]

[2016-12-05 09:08] #132 closed

[2016-12-12 16:00] ZaherMustapha opened #134 "text(str) assertion doesn't support custom component"
For example:
<CardText>A Number: {card.number}</CardText>

If I write the test for the previous JSX code:
[code]
Sadly, it seems like custom components are not supported. I am getting the following error:

expected the node in <Container /> to have text 'A Number: 1234', but it has '<CardText />'

[2016-12-12 16:16] ljharb commented on #134
How did you create `component`?

[2016-12-12 16:18] ZaherMustapha commented on #134
[code]

[2016-12-12 16:20] ljharb commented on #134
Ok, so it's shallow-rendered - that explicitly means that custom components inside it aren't rendered. Try `const cardTextNumber = component.find('CardText').shallow();`

[2016-12-12 16:22] ZaherMustapha commented on #134
I am getting this following error: Method “shallow” is only meant to be run on a single node. 3 found instead.

[2016-12-12 16:24] ljharb commented on #134
Then you'll have to disambiguate your `find` first.

[2016-12-12 16:32] ZaherMustapha commented on #134
We just want to validate content of a custom component which we can easily access (as you can see in the example)... The thing is that the component is working perfectly fine and we do not want to start testing it by rendering it...

[2016-12-12 16:33] ljharb commented on #134
If there are 3 CardText components, you can't validate them. Add an assertion in your test that you've only found 1 item, and *then* you'll be able to assert things on it.

[2016-12-12 16:36] ZaherMustapha commented on #134
I only have a CardTitle and a CardText...

[2016-12-12 16:37] ZaherMustapha commented on #134
I only have a CardTitle and a CardText...

[2016-12-12 16:41] ljharb commented on #134
I'd recommend using .debug() to clarify exactly what gets rendered. Perhaps you could also share the implementation of `Something`?

[2016-12-12 16:56] ZaherMustapha commented on #134
JSX:
`
<Card style={{ backgroundColor: 'white' }} data-id='aDataId'>
   <CardTitle title='cardTitle' />
   <CardText>A Number: {card.number}</CardText>
</Card>
`

Test:
[code]
[code]

[2016-12-12 17:15] ljharb commented on #134
Ok, then CardText doesn't have any text - it has a children prop which is the text you're looking for. (Text is something a rendered component has)

Try asserting on .props().children instead.

[2016-12-12 17:22] ZaherMustapha commented on #134
Yeah that was my initial solution but I have to fragment the test like this to make it work:

[code]
I wasn't sure if it was the best way to do it thats why I opened this issue...

[2016-12-12 17:26] ljharb commented on #134
Yes, that's currently the best way to do it (no `.get(0)` tho, just `.props()` should do it).

You can also do `shallow(<div>{cardTextNumber.children}</div>).text()`.

This is effectively an "issue" with enzyme itself, not with chai-enzyme; we should move this conversation to https://github.com/airbnb/enzyme/issues/692

[2016-12-12 17:26] #134 closed

[2016-12-14 15:59] raptoria opened #135 "undefined is not a constructor (evaluating '(0, _chai.expect)"
I am using Webpack 1 with React version 15.4.1 and karma 1.3.0.
I am having trouble with certain Chai assertions, ie. to.have.text and to.have.className give me the following errors:

    ✓ New Wave Button Exists
            ✗ New Wave Button contains Text
          undefined is not a constructor (evaluating '(0, _chai.expect)(wrapper.find('.newWaveButton')).to.have.text('New Wave')')
          we

[2016-12-14 16:40] ayrton commented on #135
Can you post how you set up chai-enzyme?

[2016-12-14 17:28] raptoria commented on #135
ah, right. That would be the most obvious question. I had chaiEnzyme imported in a setup.js but deleted it after I introduced karma.

Adding:

import chai from 'chai'
import chaiEnzyme from 'chai-enzyme'
chai.use(chaiEnzyme()) // Note the invocation at the end

fixed the issue.

thanks!

[2016-12-14 17:28] #135 closed

[2016-12-15 09:48] beagleknight commented on #131
I'm closing this because now it's working well. I have updated a lot of things and started using webpack 2 so I'm not sure what was the issue 😄 .

[2016-12-15 09:48] #131 closed

[2016-12-15 09:55] beagleknight commented on #46
It happened to me when I try to check the attribute `src` of an image tag. The solution provided by @dpoindexter and @ItsCosmo works like a charm.

[2016-12-19 20:07] bradleyayers opened #138 "ES6 module compatible export"
At the moment chai-enzyme doesn't use an ES6 compatible export for its top level module (`build/index.js`). This means that it's impossible to import the library using ES6 *without* the use of an implicit interop translation layer like webpack.

This poses a problem when compiling statically using something like TypeScript, because

[code]

will be compiled to ES5 similar to

[code]

Currently the

[2016-12-19 20:52] ljharb commented on #138
No. this exposes babel interop to clients, like the .default

[2016-12-19 21:50] bradleyayers commented on #138
Are there known problems with exposing `.default` from a commonjs module? I wasn't under the impression that a `default` property was specific to Babel, but rather it was the defacto standard for how ES2015 default exports are expressed in ES5.

That being said, `.default` isn't the only leakage, there's also the  `__esModule` property that's leaked. That could be avoided with just

[code]

Would

[2016-12-19 22:14] ljharb commented on #138
No, there *is* no standard for ES modules because the module loading spec, and the interop with node, are both not finished yet.

Entry points should only ever use `module.exports` - `export` syntax is best used only within a project. `jsnext:main` is another nonstandard convention that's popped up that imo is harmful to the ecosystem as a whole, and I don't think this project should support it.

[2016-12-19 22:39] ayrton commented on #138
I'm with @ljharb on this one, in the beginning of the project we switched from `export` to `module.exports` btw

[2016-12-19 22:43] ljharb commented on #138
Regardless, it's impossible to do modern web dev without browserify or webpack (or similar) - I don't think that's a use case that needs much consideration.

[2017-01-10 03:26] lukebatchelor opened #141 "exactly(0).descendants does not work as expected"
There's a strange edge case in `exactly` where searching for `exactly(0)` descendants will always return true.

I've only had a **very** brief look I'm guessing it's to do with this [file](https://github.com/producthunt/chai-enzyme/blob/master/src/chains/exactly.js)

where it sets the `exactlyCount` flag. I'm thinking this is being set to 0 then interpreted as a boolean false somewhere, so that wh

[2017-01-10 03:58] lukebatchelor opened #142 "descendants(selector) returns true for root element"
I'm just wondering if the following is truly the expected behaviour (from the readme)

[code]

should the `expect(wrapper).to.have.descendants('#root')` line really be passing? I would expect that `descendants` would only check actual descendants, not the root level element?

That could just be my interpretation of the word though, so happy to close this, just wanted to check.

[2017-01-10 05:25] marcodejongh commented on #142
Descendants uses [enzyme find](https://github.com/airbnb/enzyme/blob/master/docs/api/ReactWrapper/find.md) internally which always starts at the top of the render, NOT the descendants of the first element of the render. I'm pretty sure this is intended behaviour and all enzyme methods and as a result chai-enzyme methods will have the same behaviour.

To achieve what you're trying  to do you could

[2017-01-23 23:30] raptoria opened #145 "Error setting up chai-enzyme when using TypeScript , Cannot read property 'use' of undefined"
Is the set up for chai-enzyme any different if I am using TypeScript?

my code below:
[code]

error in console:

[code]

I have all the typings installed, eg:
@types/enzyme
@types/cheerio
@types/chai
@types/chai-enzyme

[2017-01-23 23:34] ljharb commented on #145
You're importing `chai` twice, btw - try `import chai, { expect } from 'chai'` (although I don't see why that would be different, unless typescript has a bug)

[2017-01-24 15:24] raptoria commented on #145
tried that...and still have the same error >_<

[2017-01-24 15:53] keithamus commented on #145
chai does not export a `default`. Looks like Webpack or something else in your build chain is not making interoperable commonjs calls, and expects everything to be an ES6 module.

I'd recommend using plain ol' `require` or possibly resolving the issue in your build tooling.

[2017-01-24 17:00] raptoria commented on #145
Thanks for pointing me in the right direction. It was a problem with how TypeScript handles modules. The fix:
import * as chai from 'chai';
import * as chaiEnzyme from 'chai-enzyme';

[2017-01-24 17:00] #145 closed

[2017-01-24 21:09] raptoria opened #146 "TypeScript error - Property 'text' does not exist on type 'Include'."
It seems like something might be missing from @types/chai-enzyme? Besides the TypeScript error, the code runs fine..

My test:

[code]

ERROR in ./test/components/FileMenu/FileMenuTest.tsx
(17,50): error TS2339: Property 'text' does not exist on type 'Include'.

[2017-01-26 04:04] nadiam84 opened #147 "to.have.prop doesn't work correctly with false value that is compared with undefined"
If a component has a prop set to `false` then `to.have.prop` check will pass when its value is compared with `undefined`. For example (all of them are green):

[code]

[2017-01-26 07:11] ljharb commented on #147
What's `ButtonComponent`? Elements have props, components don't.

[2017-01-26 16:38] raptoria commented on #146
In the documentation, it shows:
expect(wrapper.find('#child')).to.contain.text('Te')

According to:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/chai-enzyme/index.d.ts

The Text attribute exists on Assertion and not Include (hence the error)
Contain, which is an Include, expects a selector as an argument

[2017-01-26 16:44] ljharb commented on #146
I'd file this on the dt repo, since those types aren't necessarily maintained by the chai-enzyme maintainers.

[2017-01-26 16:58] raptoria commented on #146
OK

[2017-01-26 16:58] #146 closed

[2017-01-26 23:55] nadiam84 commented on #147
Updated the example to make it more correct

[2017-01-27 00:00] ljharb commented on #147
In this example, you're mounting what `ButtonComponent` *renders* - you don't need to assert on its props because you just passed them (and you don't need to assert on defaultProps, because that's an implementation detail of the component). In other words, the thing in the wrapper is the div and that's what you should be making assertions on.

[2017-01-29 17:26] npoirey opened #148 ".not failing in watch mode with mocha"
Basically, it's as if I did not have a .not in my assertion

mocha.opts
` --require ignore-styles
--compilers js:babel-core/register
--compilers jsx:babel-core/register
--colors
--recursive`

npm test:watch :
`./node_modules/mocha/bin/_mocha --watch src/**/*.spec.js*`

Loader.spec.jsx :
[code]

At first run, tests are successful. However when I trigger the watch by adding a blank line for example

[2017-01-30 02:29] ayrton commented on #142
Wondering if we should alias this to

[code]

to avoid the confusion

[2017-02-06 02:19] marcodejongh commented on #142
Not sure if ```found``` communicates it clearly enough. Maybe the descendants behaviour can be merged into ```contains```?

[2017-02-13 11:03] #85 closed

[2017-02-15 12:42] mir3z opened #150 "containMatchingElement not defined"
Documentation described undefined method: `containMatchingElement`. I can't see this method in exports nor in whole codebase.

[code]

[2017-02-15 12:52] ayrton commented on #150
This feature currently hasn't been shipped yet, you'll have to wait until we cut a new release

[2017-02-17 01:18] joetidee opened #151 "Where is expect coming from in the documentation?"
In the examples for each of the assertion methods you are using `expect`, where is this coming from? SHould they be from here? :

`import chai, {expect, assert} from 'chai';`

[2017-02-17 01:22] ljharb commented on #151
yes

[2017-02-17 02:13] #151 closed

[2017-02-20 17:52] ayrton commented on #141
I believe this is now fixed as of #152

[2017-02-20 17:52] #141 closed

[2017-02-21 20:37] MrNice opened #153 "Can't figure out how to check for non-breaking space rendering"
This fails:
[code]

because
[code]

My work arounds:
[code]

[2017-03-08 11:16] lucasmotta commented on #150
@ayrton any estimate of when it will be shipped?

cheers :)

[2017-03-08 11:23] ayrton commented on #150
@lucasmotta will try to release this week, if I haven't yet, feel free to ping me again. If you'd like to help feel free to open a PR with the updated changelog

[2017-03-22 19:47] NicolasSiver opened #158 "Setup with jsdom and chai-enzyme"
Hello.

I'm trying to add `chai-enzyme`. When I add `import ChaiEnzyme from 'chai-enzyme'` several tests are failing with an error:

[code]

I was able to fix it, by making sure that `chai-enzyme` _imported_ and initiated after `jsdom`.

[2017-03-23 04:50] mocheng commented on #158
I met same issue.

Hard for me to figure this out, since I have already `cha-enzyme` in my unittesting initialization code. With `chai-enzyme` imported before `jsdom`, React component cannot render different type of root element in re-render with the `dangerouslyReplaceNodeWithMarkup` error message.

[2017-03-23 16:38] CzBuCHi commented on #22
i had same issue and this is my solution for it:

[code]

usage:
[code]
and nice error message:
[code]

---
### changed code in package _react-element-to-string_ - props wasnt sorted (not nesseseary - props order is irelevant but if changed tests would fail...)
file: index.js
[code]

cheers

[2017-03-28 04:56] iangreenleaf commented on #150
Friendly ping 🛎

I'd love to see a new version with this as it'll make our tests way cleaner.

[2017-03-28 10:09] broncha commented on #150
Ping!
I have been trying to write tests that contain matching element, but all fail due to differences in the rendering. Some render with whitespaces, some not.. which are all valid cases.

[2017-04-14 12:38] LeonardoGentile opened #164 "Multiple className assertion fails"
When asserting for multiple className separated by space I get this error.
As you can read the excpected value and the actual one are equals but somehow it fails

[code]

[2017-04-14 12:39] LeonardoGentile commented on #164
Basically, this works:
[code]
But this doesn't

[code]

[2017-04-14 15:37] ljharb commented on #164
I would not expect the latter to work. I might expect that `to.have.className('a', 'b')` would work, however.

Working with "class" as a space-separated list is legacy and something I'd want APIs to discourage.

[2017-04-23 09:41] broncha commented on #150
Anything on the new release with this fix? Apparantly npm does not build the package when installed though github!

[2017-04-27 20:29] nigelrobbins3 commented on #147
Saying the wrapper contains the div is not accurate in this case. If I further extend the example to render elements with props:
[code]
So the `prop` assertion behaves differently on the root component in a way which is unexpected.

Why would I want to use `prop("id", "foo")` when I have `id("foo")`? I like to assert that my elements have a style prop, but I don't care what the values are (I find

[2017-05-08 11:18] wmonk opened #170 "containsMatchingElement is not in published version"
Version: `0.6.1` [link to published version](https://unpkg.com/chai-enzyme@0.6.1)

As you can see, the published version does not include `containsMatchingElement`, so the assertion is never added.

[2017-05-08 11:20] wmonk commented on #170
Apologies, just saw the other issue referencing this. Would love to see the new version soon, thanks for your hard work! 😄

[2017-05-08 11:20] #170 closed

[2017-05-11 19:38] viniciusffj commented on #150
When will be this feature available? I really need it

[2017-05-15 08:38] JoshuaKGoldberg commented on #150
FYI, this is in the `@types` definition for `chai-enzyme`. Good thing this issue gets ranked well on Google!

[2017-05-15 14:50] ljharb commented on #150
@JoshuaKGoldberg then that's a bug in the definition :-)

[2017-05-16 10:27] rafaelteixeira opened #174 "Accessing PropTypes via the main React package is deprecated"
Accessing PropTypes via the main React package throws a deprecation warning.
We should use the prop-types package from npm instead.

Instead of this:
[code]

We should use this:
[code]

[2017-05-19 14:32] chrisregner-com commented on #164
It seems that I have a similar issue, but without the spaces.

With this:

    expect(wrapper).to.have.className('baseClass')

I get this:

    AssertionError: expected <withClasses(SampleComponent) /> to have a 'baseClass' class, but it has undefined

        HTML:

        <span class="baseClass"></span>

But this one passes the assertion

    expect(wrapper).to.have.attr('class', 'baseClass')

[2017-05-19 15:07] chrisregner-com commented on #164
Sorry, just found out that I had to use `.dive()` as the component being tested was created using with a HOC. Here's the working code:

    expect(wrapper.dive()).to.have.className('baseClass')

Thanks!

[2017-05-22 09:26] ayrton commented on #150
Shipped today!

[2017-05-22 09:26] #150 closed

[2017-05-22 19:33] ZebraFlesh opened #177 "Breaking change with undefined in 0.7.0?"
The fix for handling undefined arguments on 0.7.0 doesn't seem like a fix so much as a breaking change. A lot of the examples are now incorrect. For example, the [attr example](https://github.com/producthunt/chai-enzyme#attrkey-val) has the line:

`expect(wrapper.find('span')).to.have.attr('id')`

But in 0.7.0, that will fail with `AssertionError: expected the node in <Fixture /> to have a 'id' at

[2017-05-22 19:37] ayrton commented on #177
The following should still work:

[code]

If it does not that is definitely a bug in the new code and it should be addressed. This was introduced in https://github.com/producthunt/chai-enzyme/pull/152 any chance you can look into creating a PR with a fix?

[2017-05-22 19:49] ZebraFlesh commented on #177
Nope, definitely doesn't work with 0.7.0: it's seeing the absence of a second argument as undefined and using that for the expectation.

I'm a bit over-committed right now to offer up a PR. :(

[2017-05-24 00:49] sugarshin opened #178 "Publish latest version"
HI,

Available this warning when npm installation.

[code]

Please latest version publish to npm .

[2017-05-24 07:35] ayrton commented on #178
Related PR https://github.com/producthunt/chai-enzyme/pull/166

[2017-05-24 15:40] ljharb commented on #178
Yes, this is intended, since it's a requirement of enzyme's.

[2017-05-24 15:40] #178 closed

[2017-05-24 17:41] ayrton commented on #178
@ljharb do we have to revert #166 or is everything all good right now?

[2017-05-24 17:43] ljharb commented on #178
I don't see why; the only way someone could run into this is if they were not explicitly depending on things enzyme requires. This is a bug fix.

[2017-05-24 18:28] sugarshin commented on #178
I mean master branch and latest version published to npm are different.

[2017-05-24 19:03] ljharb commented on #178
v0.7.0 was released 2 days ago; https://github.com/producthunt/chai-enzyme/commit/3081e30e7346671b458a2a3bef8c4e468b535288 is the only commit not yet released.

Another publish of v0.7.1 would be fine, sure.

[2017-05-24 19:10] ayrton commented on #178
Released 0.7.1 just now

[2017-05-25 23:09] wbyoung opened #180 "0.7.0 duplicate plugin use causes failures comparing to undefined"
Similar to #177 (or perhaps exactly the same issue), the following fails for me when a second run is performed in (`mocha`) watch mode:

[code]

This can easily be reproduced by including the plugin twice in a testing setup (or even by [updating the `helpers.js` to include the plugin twice](https://github.com/producthunt/chai-enzyme/blob/6e08db5215eb3a35ff94118e25b804123b9e38a4/test/support/helper

[2017-05-25 23:24] wbyoung commented on #177
@ZebraFlesh I just ran into something similar. Can you take a look at #180 and see if it's the same issue that you're explaining here? Also, could you try out #181 and/or #182 to see if they resolve your issue.

[2017-05-26 00:45] ZebraFlesh commented on #177
That's certainly consistent with how we use chai-enzyme: every test fixture we have that uses chai-enzyme does the following:
[code]

[2017-05-26 01:22] wbyoung commented on #177
@ZebraFlesh okay, then either of those two PRs should address your issue. Hopefully the team here will accept one and release a new version soon!

[2017-06-07 14:40] ayrton commented on #164
@LeonardoGentile we don't support multi value assertions (not in this assertion nor in any other I believe), you'll have to write your test as:

[code]

[2017-06-07 14:40] #164 closed

[2017-06-19 11:25] PonderingGrower opened #186 "Add optional message argument to all function assertions"
Regular function assertions in Chai have an optional `msg` argument, for example:

http://chaijs.com/api/bdd/#method_include

But the `chai-enzyme` functions do not have it. I consider adding messages at the end of the assert much more readable than in the `expect()` function, so most of my tests use that form. With `chai-enzyme` I have to mix two styles now since I cannot supply a `msg` to someth

[2017-06-19 13:19] keithamus commented on #186
Going to slide in here with some questions unrelated to the issue here;

How do you consider adding custom messages more readable? What do you provide to the message parameter that the default messaging doesn't give you? (Asking because we'd like to improve messaging in chai, but would like feedback from users).

[2017-06-20 20:24] soenkehahn opened #187 "support chai-4"
It seems currently only `chai-3.x` is supported. (https://github.com/producthunt/chai-enzyme/blob/master/package.json#L29) `chai-4` is the current stable release.

[2017-06-20 20:26] ayrton commented on #187
Greenkeeper PR #184

[2017-06-21 20:03] ayrton commented on #187
Fixed as of #188

[2017-06-21 20:03] #187 closed

[2017-06-21 22:12] soenkehahn commented on #187
Awesome, thanks a lot. Will we get a release soon?

[2017-06-22 11:42] #180 closed

[2017-06-29 06:30] layershifter commented on #187
Please release this.

[2017-06-29 16:46] ayrton commented on #187
Released 0.8.0

[2017-06-29 16:47] ayrton commented on #177
@ZebraFlesh can you confirm if this is still an issue in 0.8.0

[2017-06-30 23:23] ZebraFlesh commented on #177
Looks like this is fixed in 0.8.0.  Thank you!

[2017-07-01 18:22] #177 closed

[2017-07-01 18:24] #138 closed

[2017-07-01 18:37] ayrton commented on #9
This been a part of chai-enzyme since [0.6.0](https://github.com/producthunt/chai-enzyme#typefunc).

[2017-07-01 18:37] #9 closed

[2017-07-01 18:40] ayrton commented on #147
@nadiam84 I believe this is fixed as of 0.7.0, can you confirm this please

[2017-07-01 18:42] ayrton commented on #148
@npoirey can you check if this is still an issue with 0.8.0?

[2017-07-02 10:46] npoirey commented on #148
Just tried it out, working as expected, thanks !
I'm closing this .

[2017-07-02 10:46] #148 closed

[2017-07-06 19:28] nigelrobbins3 commented on #147
The original problem seems to have been fixed. The broken case now fails properly.
[code]

Should I open a new issue for the problems I'm having accessing the root element for `to.have.prop`?

[2017-07-06 19:29] ayrton commented on #147
@nigelrobbins3 yes please
@nadiam84 I'm closing this issue, feel free to re-open if you think this was a mistake

[2017-07-06 19:29] #147 closed

[2017-07-06 19:34] #174 closed

[2017-07-06 21:27] nigelrobbins3 opened #191 "Assertions on a wrapper inconsistently assert on children"
The behavior of `to.have.prop` is different than other assertions when used on a mounted wrapper. Take the following example.
[code]

Notice that the root wrapper treats `to.have.id` as though it is wrapping the `div`, but treats `to.have.prop` as though it is wrapping the `ButtonComponent`. This behavior is unexpected.

Why would I want to use prop("id", "foo") when I have id("foo")? I like to as

[2017-07-07 03:50] ljharb commented on #191
Note tho that my comments describe how shallow behaves; it seems mount by necessity behaves differently.

[2017-07-07 16:05] nigelrobbins3 commented on #191
Ok. Is it possible to improve that behavior? Or is enzyme not exposing the root node correctly?

The hack I usually use to get the properties of the root node is `const root = wrapper.find("div").first()`, but it requires knowing that the root element is a `div`

[2017-07-07 19:59] ljharb commented on #191
`const root = wrapper.children().shallow()`?

[2017-07-14 06:28] Ruto8 commented on #153
Any tips? Stumbled upon this one myself.

[2017-07-14 06:35] ljharb commented on #153
A space and a nbsp aren't the same; instead of `'Open Project '`, try `'Open Project '` (i used option-space there to generate it on my Mac)

[2017-07-14 17:41] cableray opened #192 "Assertions on render() wrapped components don't work for elements that aren't an array"
For example:
[code]
fails (because it expects `secondLink` to respond to `first()`, but it isn't an array of results)

This makes it impossible to assert on specific items in an array of results.

[2017-07-14 17:49] ljharb commented on #192
`[1]` doesn't give you a wrapped element. I think you want `.at(1)`.

[2017-07-14 20:46] cableray commented on #192
Strangely, `.at` is undefined  on `wrapper` and the result of `find('a')` 🤔. Is that normal?

Versions:
- `cheerio@0.22.0`
- `chai-enzyme@0.7.1`

[2017-07-14 22:34] ljharb commented on #192
ah, sorry, you're using `render`. You want `.eq(1)` then, just like in jquery. Array bracket syntax gets you a raw, unwrapped thing.

[2017-07-17 20:55] cableray commented on #192
Ok, thanks @ljharb! It is a bummer that this doesn't work with other chai tools like `chai-things` because of not being a real array, but I'm not sure that would be an easy thing to do.

[2017-07-19 18:35] rojobuffalo commented on #192
`cheerio@v1.0.0-rc.2` is published. Could we have that as an acceptable peer?

[2017-07-26 03:43] jrnail23 commented on #186
I'll chip in and say that a custom message argument allows you to describe _why_ you're making an assertion.  e.g.,
[code]

[2017-07-26 08:46] keithamus commented on #186
@jrnail23 thanks for that, and that is indeed a fine use case. FWIW we wont be removing the message feature - and we very much encourage people to use it for use cases like the above, I was questioning because I want to ensure that without the message, Chai gives users the best clue as to what is going wrong (even if that doesnt tell them why).

[2017-09-22 01:30] dschinkel opened #197 "to.have.type() not recognized"
I've got a testHelpers file that contains the following amongst other things that I've stripped out for this issue just to simplify what I'm showing:

**test.helpers**
[code]
I'm trying to use to.have.type() but get the error `TypeError: (0 , _test.expect)(...).to.have.type is not a function`:

**some.spec.js**

[code]

so not sure what I'm missing here.

[2017-09-26 19:38] shepmaster commented on #158
The [documentation for enzyme covers this case](https://github.com/airbnb/enzyme/blob/master/docs/guides/jsdom.md#using-enzyme-with-jsdom).

[2017-09-27 07:28] linchen2chris opened #199 "chai-enzyme can not work with enzyme 3.0 and react 16.0.0"
it will give error **cannot find module 'enzyme/build/react-compat.js'**

[2017-09-27 11:29] ljharb commented on #199
See #196 and #198.

[2017-09-28 02:06] linchen2chris commented on #199
@ljharb  Thanks for your reply. 👍

[2017-09-28 20:37] cameronroe commented on #199
Having the same issue.

[2017-09-29 14:25] dschinkel commented on #199
same error, please fix this.

[2017-09-29 14:28] dschinkel commented on #199
@ljharb I looked at the two related issues you stated but don't see what I should be doing here...are we waiting for a PR for a fix?  OR is there a workaround for the time being?

[2017-09-29 14:52] ljharb commented on #199
Yes, we're waiting on a PR; it's not solely supported by airbnb; and there's no workaround for the time being (besides "stay on enzyme 2" or "don't use chai-enzyme until it's ready")

[2017-09-29 16:09] dschinkel commented on #199
thanks @ljharb

[2017-10-03 21:58] ayrton commented on #199
Will try to release a beta 1.0.0 release tomorrow with support for enzyme 3 (& thus react 16). Once things look stable (I'll test the library against the Product Hunt test suite) will release the 1.0.0

[2017-10-04 06:43] ayrton commented on #199
Just released the new version as a beta, to try it out

[code]

[2017-10-04 07:38] ayrton commented on #199
I'm seeing quite some failing tests in my test suite with the following message:

[code]

With the following stacktrace:

[code]

Is this also the case for others?

[2017-10-04 16:50] modosc commented on #199
can you relax the `peerDeps` on `cheerio` since `enyme-3.x` lists  `cheerio "^1.0.0-rc.2"` as a dep? happy to do the pr again for this if needed.

[2017-10-04 17:14] ljharb commented on #199
Certainly the peer dep here should match enzyme's. A PR would be great.

[2017-10-04 17:18] modosc commented on #199
https://github.com/producthunt/chai-enzyme/pull/201

[2017-10-05 00:01] VidyullathaKandipati commented on #199
Is the Invarient Violation error resolved? I am still seeing it in my tests, when I do the following assertion.
[code]

[2017-10-11 22:41] brucewpaul opened #204 "[1.0.0-beta.0] reactNodeToString does not accept a string"
before 1.0.0-beta.0, react-element-to-jsx-string was used which allowed for a string. Now with the custom function, strings are not accepted.

[2017-10-17 02:45] linchen2chris commented on #199
@ljharb I tried chai-enzyme@beta this morning, our project contains 600 unit tests(include 257 react compont tests, others are action, store, validation tests), all tests work correctly.

For the security policy reason, I can't attach the screenshot.

[2017-10-17 03:56] dschinkel commented on #199
thanks @linchen2chris I'm about to try again to upgrade soon and will report back.

[2017-10-17 06:30] ayrton commented on #199
@ljharb @linchen2chris we're running on chai-enzyme@beta now too, there were only a couple necessary changes needed in our codebase

[code]

[code]

[2017-10-18 06:01] linchen2chris commented on #199
@ayrton we‘re lucky, the apis we used didn't change. 😀

[2017-10-18 07:56] cuongluu8 opened #205 "attr doesn't work with shallow (only with mount)"
For example
[code]
Gives the following error
`Window is not a constructor (evaluating '(0, _cheerio2.default)(this.wrapper.html())')`

Works fine if I use `mount` instead of `shallow`.  Documentation suggests that `attr` is support in a `shallow` render.

Using chai-enzyme v0.7.1

[2017-10-24 11:51] palaniichukdmytro commented on #199
After migration to enzyme I catch the error when start testing, also I use chai 4.1.2 and chay-enzyme "^1.0.0-beta.0" with React 16,

[code]
all my casse failed on should.be.deep.equal

[code]

[2017-10-24 17:30] ljharb commented on #199
@palaniichukdmytro does it pass on enzyme 3 and react 15?

Regardless; it looks like the issue is that you’re not using jsdom.

[2017-10-24 19:43] palaniichukdmytro commented on #199
@ljharb no I use enzyme 3.x and react 16, I use jsdom, with old/api, also there is still issue with HTMLElement is not defined, I've already solved it, but not quite understand why it happend,
`global.HTMLElement = () => {}`

[2017-10-24 20:03] ljharb commented on #199
If you use jsdom, all the browser globals will be provided; you don't want to have to provide them all one at a time manually.

[2017-11-10 06:47] iamrommel opened #206 "Cannot find module 'enzyme/build/react-compat'"
This file cannot find from the enzyme, 3.1.1, but according to you doc, enzyme 3 is supported where as your this chai-enzyme v0.8.0 has only peerDependency on "enzyme": "1.x || ^2.3.0",

is there any updates or im looking and using wrong lib?

![image](https://user-images.githubusercontent.com/177265/32646140-16111d72-c626-11e7-97b8-5cdd495375ab.png)

[2017-11-10 06:52] iamrommel commented on #206
nvm this 1, i  should be using the 1.0.0 beta realease not the 0.8.

[2017-11-10 06:52] #206 closed

[2017-11-19 18:06] ZebraFlesh opened #207 "[1.0.0-beta.0] Cannot assert descendant not present"
Given this component and the following tests:
[code]

The not descendants test on thing2 fails with the message: `AssertionError: expected <Test /> not to have descendants '.foo' HTML: Not available due to: Cannot read property 'outerHTML' of null`

Switching the last expectation to the following:
`expect(thing2.find('.foo')).to.not.exist;`

it still fails with the same error: `AssertionError: exp

[2017-11-19 19:58] ayrton commented on #205
What happens when you do:

[code]

[2017-11-19 20:05] ljharb commented on #205
also what about `export(reportLink).to.have.prop('href', props.href)`?

[2017-11-20 09:39] cuongluu8 commented on #205
`expect(reportLink).to.have.attr('href', props.href);` yields the same error.

`expect(reportLink).to.have.prop('href', props.href);` does work and will probably be sufficient most of the times.

I guess there is an open question on when `attr` can/should be used? Is it just for full mount rendering?

[2017-11-20 10:05] mildrenben opened #208 "Use of reserved word 'let' in strict mode"
I recently upgraded to React 16 and added the PropTypes package, and now my tests won't run at all with the following error message:
[code]

These are the project dependencies:

[code]

There is another error further up, so it's possible this is the cause:
[code]

This is the `karma.config.js`:

[code]

Anyone have any ideas as to why this isn't working now?

[2017-11-20 10:31] ayrton commented on #208
Can you confirm this error does not originate from `chai-as-promised` as suggested in the error message?

[2017-11-20 10:31] #208 closed

[2017-11-20 12:01] mildrenben commented on #208
@ayrton Fixed the chai-as-promised issue. Now it definitely appears to be `chai-enzyme`.

[code]

Is this just incorrect versions of `enzyme`? I'm using `3.2.0`

[2017-11-20 12:03] ayrton commented on #208
@mildrenben you have to use the beta version of chai-enzyme if you're using enzyme > 3. See https://github.com/producthunt/chai-enzyme/issues/199 for more information.

[2017-11-20 14:19] ljharb commented on #205
It’s using full Cheerio rendering; and yes, I’d say shallow rendering assertions are going to consistently be a better bet.

[2017-11-21 15:59] dptoot opened #210 "[1.0.0-beta.0] className assertion failing when element has multiple classNames"
As you can see the element selection has the correct className asserted but only seems to respect the first.  Any suggestions?

[code]

[2017-11-30 20:39] nemanjacosovic opened #211 "Dependency issues with new version of enzyme"
I'm using "enzyme": "^3.2.0" and today, after installing chai-enzyme I got:

[2017-11-30 20:48] ayrton commented on #211
See #199

[2017-11-30 20:48] #211 closed

[2017-11-30 20:51] nemanjacosovic opened #212 "React 15.0.0 and Enzyme 3.2.0 issue"
I'm using "enzyme": "^3.2.0" and today, after installing chai-enzyme I got:

npm WARN chai-enzyme@0.8.0 requires a peer of enzyme@1.x || ^2.3.0 but none is installed. You must install peer dependencies yourself.

[2017-11-30 20:53] ayrton commented on #211
0.8.0 does not support enzyme 3, the issue I referenced is about support with enzyme 3 which you are on. You need the beta version of chai-enzyme, for more information check out the issue there. React 15 and more happens to require enzyme 3, so it's misleading.

[2017-11-30 20:54] nemanjacosovic commented on #211
Ok, thanks.

[2017-11-30 21:33] nemanjacosovic commented on #212
After some digging around, and help from @ayrton I've installed beta version which solved the issue.

However, now I have a new one:

[2017-11-30 22:12] ljharb commented on #212
Duplicate of #211.

[2017-11-30 22:12] #212 closed

[2017-12-03 10:10] DonGiulio opened #213 "Cannot find module 'enzyme/build/react-compat'"
I just installed chai enzyme on my app, using:

     npm install chai-enzyme --save-dev

and tried to import it in my DirectionsMap mocha-enzyme-chai-chai_enzyme test:

[code]

I'm getting this error though, it looks like there's an unresolved dependency:
[code]

[2017-12-03 17:15] ljharb commented on #213
What versions of chai-enzyme and enzyme are you using? Make sure `npm ls` exits successfully, or else nothing can be expected to work.

[2017-12-03 17:45] DonGiulio commented on #213
indeed npm ls reports some failures:

[code]

[2017-12-03 18:37] ljharb commented on #213
Sounds like you have 0.8.0, but enzyme 3 requires 1.0.0-beta something.

[2017-12-03 19:46] ayrton commented on #213
Correct, see #199 for more information on support with enzyme 3

[2017-12-03 19:46] #213 closed

[2017-12-08 01:21] eugenet8k commented on #60
Hi guys, it's been a while and I guess the chai plugin system wasn't updated yet. But, can anyone post some feasible solution or workaround or hack to solve this issue meanwhile?

In my case, some of my modules have unit tests for jQuery based UI and another for React based, so if I only get an idea how to initialize chai per module then I would use `chai-jquery` and `chai-enzyme` independently. A

[2017-12-14 18:53] tagoro9 opened #214 "Cannot convert a Symbol value to a string"
I was writing some tests for a component that uses the React 16 `<Fragment />` component and run into the `Cannot convert a Symbol value to a string` error when running the tests. I believe that the issue is that `React.Fragment` uses a Symbol as displayName and the `ReactTestWrapper` and `ShallowTestWrapper` `inspect` method fails to convert this Symbol into a string.

An example of a failing tes

[2017-12-17 16:31] nemanjacosovic commented on #212
Solution is to install beta:

npm install --save-dev chai-enzyme@beta

[2017-12-20 10:07] #214 closed

[2018-01-17 21:55] vanpacheco opened #216 "to.have.text(undefined) does not break my tests"
I am not sure whether this is an issue, but I do think this behavior is inconvenient. For instance, the following test passes:

[code]

I'd appreciate any light you shed on why this is happening or whether this is an issue at all.

[2018-02-08 07:05] deployable commented on #207
I think I ran into the same enzyme issue here: https://github.com/airbnb/enzyme/issues/1519

Both the `Test` component and the `div` are being picked up by the class selector as they are both in enzymes dom representation when using `mount`. The same can happen for '#id' selectors.

This results in code like this:
[code]

[2018-02-08 07:06] deployable commented on #207
It might be useful if chai-enzyme included a `.htmlDescendants()` or something similar to remove the React components from results. Possibly `.reactDescendants()` as well if you wanted the opposite, but I believe the opposite of `hostNodes()` would need to be added to enzyme for that.

[2018-02-27 13:37] cy6erskunk commented on #126
The problem still exists, now in `shallow` and `render`, in case of non-empty component:

[code]
Results:
[code]
It seems not correct to check `children` in these cases in [isEmpty](https://github.com/producthunt/chai-enzyme/blob/master/src/TestWrapper.js#L7), why not use [`exists`](http://airbnb.io/enzyme/docs/api/ShallowWrapper/exists.html) from enzyme, which is the replacement for the deprecate

[2018-05-11 17:36] armsteadj1 opened #218 "Error message for shallow render contains"
Currently it shows you the entire render html when this errors.

For example:

[code]

[code]

[code]

when this errors it does a .html() on the wrapper and would show:

[code]
This makes it extremely hard to understand exactly why the test is failing.

Would anyone be against adding an overload to do a .debug() instead so the following would be output.  Or better yet, always use debug for shallow

[2018-05-11 17:42] ljharb commented on #218
That seems way better to me.

[2018-05-11 17:47] ayrton commented on #218
Sounds more than reasonable

[2018-05-11 17:49] armsteadj1 commented on #218
Doing it for only Shallow is actually what jest-enzyme does as well:

https://github.com/FormidableLabs/enzyme-matchers/blob/master/packages/enzyme-matchers/src/utils/html.js

[2018-05-11 17:49] armsteadj1 commented on #218
I'll get a pull request created. Thanks!

[2018-06-05 19:05] gunnari-turo opened #220 "Patch version bump for fix merged in from PR#215?"
Any chance that there could be a new patch release for the fix that was merged in #215 this past December?

[2018-06-14 14:01] #218 closed

[2018-06-14 14:15] ayrton commented on #220
Just released chai-enzyme@1.0.0-beta.1

[2018-06-14 14:15] #220 closed

[2018-06-14 15:18] gunnari-turo commented on #220
Thank you @ayrton!

[2018-06-14 23:26] developer239 opened #221 "Is this library still maintained? `[import Adapter from 'enzyme-adapter-react-15';]`"
I am upgrading large project to React 16. I have installed following dependencies:

[code]

This is my `testConfig.js` file:

[code]

But when I run my tests I am getting `missing enzyme adapter error`:

[code]

When I looked at your source code you don't use custom adapter anywhere except in `test/support/helper`?

https://github.com/producthunt/chai-enzyme/search?q=isEnzyme3&unscoped_q=isEnzyme3

[2018-06-14 23:36] developer239 commented on #221
I believe I managed to fix the issue by instantiating my own adapter:

[code]

I thought this should be done by `chai-enzyme`? Why use `chai-enzyme` when I still have to do all the setup manually?

[2018-06-15 00:01] ljharb commented on #221
It's absolutely not done by chai-enzyme; just like enzyme itself, nobody but YOU can possibly know what react version you're using.

[2018-06-15 00:52] developer239 commented on #221
That makes sense. Updating 300+ tests was no fun though 😄

[2018-06-15 00:52] #221 closed, assigned to nobody

[2018-06-15 01:41] ljharb commented on #221
@developer239 you should be able to do the configure in a single file, without having to touch all your other test files.

[2018-06-15 18:19] developer239 commented on #221
@ljharb I meant in general 🙂 I had to update enzyme to version `3.x`

[2018-07-11 18:26] johnomalley opened #222 ".should.have.html(...) broken in 1.0.0-beta.1"
I upgraded from beta.0 to beta.1 and a test case broke.  This snippet demonstrates the bug:

[code]
output:

[code]
relevant dependencies:

[code]

[2018-07-12 21:57] intrepidOlivia commented on #210
I am having a similar problem, except that the chai-enzyme seems to recognize all the relevant text, but still fails the test.

![classname_assertion](https://user-images.githubusercontent.com/3474569/42661693-cd832522-85e3-11e8-84e6-ca70be71d235.PNG)

[2018-07-12 22:32] ljharb commented on #210
@intrepidOlivia those are two class names - i'd expect you would be using two assertions, not one, to test for those.

[2018-07-15 20:05] intrepidOlivia commented on #210
Are you sure? As you can see, the two class names on the `li` element are concatenated into a single string. CSS recognizes them as separate classes, but since React only ever sees one string, I don't think it'll recognize it as having multiple class names. Or do you know of documentation that suggests otherwise?

[2018-07-15 20:09] ljharb commented on #210
every API I’m familiar with that takes class names only takes one at a time, or an array.

[2018-07-18 00:02] intrepidOlivia commented on #210
Perhaps so, but I resolved this problem by simply using vanilla enzyme's [hasClass ](https://github.com/airbnb/enzyme/blob/d041930be83ed789e28319eda10b2f66c4914e85/docs/api/ShallowWrapper/hasClass.md) function:

![react_hasclass](https://user-images.githubusercontent.com/3474569/42851951-20d8992a-89e3-11e8-8ccc-107b5f770e61.PNG)

[2018-07-18 01:17] ljharb commented on #210
While as enzymes maintainer that surprises me, if enzyme works that way than certainly this matcher should as well.

[2018-11-11 23:42] nhardy opened #223 ".to.have.style() requires kebab-cased keys"
`.to.have.style("backgroundColor")` does not work, whereas `.to.have.style("background-color")` does, which can be confusing.

[2018-12-05 02:14] filipenatanael opened #224 "TypeError: to.have.style is not a function"
Hello Everyone,

So I'm getting the below error message when trying to run the tests.

`expect(wrapper).to.have.style('background-color').equal('#ccc');`
- _**TypeError: (0 , _chai.expect)(...).to.have.style is not a function"**_

But when I write the code as below, everything works correctly.

`expect(wrapper.props().style.backgroundColor).to.be.equal('#ccc');`

Any of yours have gone through thi

[2019-01-15 23:01] kislakiruben commented on #224
@filipenatanael isn't `wrapper` an enzyme wrapper, so it doesn't have any style actually on it? you should look for the wrapping html element instead for the styles to show.

[2019-01-19 17:32] jordantrainor opened #225 "setup is vague"
Would it be possible to clarify on how to correctly set this up? It seems quite vague in the docs if you've never used it before. Where is the setup placed etc?

[2019-01-19 18:45] #225 closed, assigned to nobody

[2019-01-27 19:22] gugu opened #226 "Flow types"
Unfortunately, I don't have time to do this by myself, but it will be nice to have flow type definitions for this module

Currently, flow raises an error because chai does not have additional methods (instead of the default behavior of ignoring module)

[2019-09-04 18:34] JamesMcMahon opened #227 "Preact support?"
Currently, `chai-enzyme` doesn't work with the [Preact library](https://preactjs.com/).

It fails with the stack trace:
[code]

With the issue coming from the [React import in `reactNodeToString.js`.](https://github.com/producthunt/chai-enzyme/blob/aa9d448780c1775acb3cdfd39e09229474cc6836/src/reactNodeToString.js#L1)

I haven't looked deeply into this, but I was wondering if it was possible to dec

[2019-09-04 19:15] ljharb commented on #227
The only way i can see that it would really be generalizeable is if it imported all react-specific things from the configured enzyme adapter - that way, a preact adapter could supply whatever functionality was needed.

[2019-09-04 20:12] JamesMcMahon commented on #227
Yeah, I was thinking the same. Not sure what is involved there, I need to take some time to look at how some of their other adaptors work.

Would you be open to a pull request?

BTW, the work around is to install React as a dev dependency. So far everything works when I do that.

[2019-12-08 22:22] cyrilchapon opened #228 "Chai's `assert.` style supported ?"
Hey :)

I might be pretty strange, but I always loved `assert.isXXX` node-like syntax.

I always recommended Chai to my team because well, I know this is a strange opinion, and Chai provides the power to use whatever-syntax-you-like; so they can use fancy `expect`s and I can keep using my plain old `assert.`s

Though, this particular library (chai-enzyme) doesn't seem to respect that Chai choice.

[2019-12-08 22:39] ljharb commented on #228
Are you sure? Like specifically have you tried it and found it not to work - my assumption is that any matcher automatically works with either api.

[2019-12-08 22:43] cyrilchapon commented on #228
Well I confess I only tried `assert.blank` and `assert.isBlank` (after correctly binding chai to chaiEnzyme, and validating `expect(A).to.be.blank()` works)

[2019-12-27 20:55] Hypnosphi commented on #210
It works OK with `shallow`, but not with `mount`

[2019-12-27 21:59] ljharb commented on #210
@Hypnosphi to clarify; what's the difference between the two with `hasClass`? they both call into the same utility function.

[2019-12-27 23:10] Hypnosphi commented on #210
`hasClass` works in both cases, while `should.have.className` works only with `shallow`

[2019-12-28 00:16] ljharb commented on #210
Thanks for the clarification :-)

[2020-05-20 20:43] javidjamae commented on #227
@JamesMcMahon said:

I can confirm that merely adding react as a dev dependency got past this error:
`yarn add react --dev`

I'm not sure if there are any possible discrepancies between how react and preact might cause enzyme to render the components. This could cause some tests to be less reliable. But, at least the workaround allows me to **_have_** tests, so I can't complain too much. 😄

[2020-07-13 10:08] #226 closed, assigned to nobody

[2020-07-13 19:43] ljharb commented on #226
https://www.npmjs.com/package/@types/chai-enzyme exists; flow could be added here: https://github.com/flow-typed/flow-typed/tree/87f3b2251f175a68c0ea9ec47ef489eabaa44e6c/definitions/npm

[2020-08-21 08:30] morijenab opened #229 "Cannot read property 'have' of undefined"
Hello
Thanks for your awesome work. Its really useful and cool that we can test ower CSS Style with your code :clap:

I tried to implement your sample code but faced with this error
_Cannot read property 'have' of undefined_

here is my test suite :

[code]
and these are the packages that I'm using:

Did I miss something :confused:

 **UPDate:**
I guess the problem is _expect_ !
if I import 'expec

[2020-08-21 14:46] #229 closed, assigned to nobody

[2021-02-22 20:48] daveisfera opened #231 "Support for React 17"
Please add `|| ^17.0.0` to `react` dependency